<footer class="db-footer site-footer">
  {% comment %} <section class="db-section db-section--newsletter">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <a class="db-site-link"
            title="Deadbeat"
            href="{{ shop.url }}">
            <img class="db-site-logo db-img"
              alt="Deadbeat"
              title="Deadbeat"
              src="{{ 'DB_Main_logo-v01-264x96.png' | asset_url }}"
              width=""
              height=""
              loading="lazy">
          </a>
          <h4>
            Subscribe to our newsletter
          </h4>
          <p>
            Get updated to our exciting promotions, limited offers, articles and resources.
          </p>
          <form class="db-form--newsletter db-form"
            method="post"
            action="/contact#contact_form"
            accept-charset="UTF-8">
            <div class="db-form-wrap">
              <div class="db-form-group">
                <input class="db-form-input"
                  type="email"
                  placeholder="">
                <button class="db-btn--form-submit db-btn"
                  type="button">
                  SUBSCRIBE
                </button>
              </div>
            </div>
          </form>
        </div>
        <div class="db-col">
          <img class="db-img-figure01 db-img"
            alt=""
            title=""
            src="{{ 'DB_Footer_NewsletterFigure01_v01-809x512.png' | asset_url }}"
            width=""
            height=""
            loading="lazy">
        </div>
      </div>
    </div>
  </section>
  <section class="db-section db-section--primary">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <div class="db-inner-row">
            <a class="db-elevate-link"
              title=""
              href="">
              <img class="db-elevate-logo db-img"
                alt=""
                title=""
                src="{{ 'DB_Elevate_logo-v01-72x81.png' | asset_url }}"
                width=""
                height=""
                loading="lazy">
            </a>
            <p>
              We are a Web3 brand focused on creating the story world and building the story canon with us… ON AIR!.
            </p>
          </div>
          <p class="db-copyright">
            &copy; 2023 Deadbeat - All rights reserved
          </p>
        </div>
        <div class="db-col">

          {% if linklists.footer.links.size > 0 %}

            <ul class="db-menu-list">

              {% for menuItem in linklists.footer.links %}

                <li class="db-menu-item">
                  <a class="db-menu-link"
                    title="{{ menuItem.title }}"
                    href="{{ menuItem.url }}">
                    {{ menuItem.title }}
                  </a>
                </li>

              {% endfor %}

            </ul>

          {% endif %}
          
        </div>
        <div class="db-col">
          <h5>
            SOCIALS
          </h5>
          {% render 'socials' %}
        </div>
      </div>
      <p class="db-copyright">
        &copy; 2023 Deadbeat - All rights reserved
      </p>
    </div>
  </section> {% endcomment %}
</footer>