<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{{ page_title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    {{ content_for_header }}

    <!-- Deadbeat Theme | CSS -->
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <!-- jquery | JS -->
    <script
      type="text/javascript"
      src="{{ 'jquery.js' | asset_url }}"
      async></script>

    <!-- vue | JS -->
    <script type="text/javascript" src="{{ 'vue.js' | asset_url }}"></script>

  </head>
  <body>

    <div id="root" class="db-site">

      {% render 'header' %}

      {{ content_for_layout }}

      {% render 'footer' %}

    </div>

  </body>
</html>