<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{{ page_title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="icon" href="{{ 'DB_favicon.png' | asset_url }}" type="image/x-icon">

    {{ content_for_header }}

    <!-- Deadbeat Theme | CSS -->
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    <!-- jquery | JS -->
    <script
      type="text/javascript"
      src="{{ 'jquery.js' | asset_url }}"
      async></script>

    <!-- vue | JS -->
    <script type="text/javascript" src="{{ 'vue.js' | asset_url }}"></script>

    {% comment %} <script src="https://sdk.scdn.co/spotify-player.js"></script> {% endcomment %}

  </head>
  <body class="db-scroll-bar">

    <div id="root" class="db-site">

      {% render 'site-loader' %}

      {% render 'header' %}

      {{ content_for_layout }}

      {% render 'footer' %}

      {% render 'cart' %}

    </div>

  <!-- PF EDT START -->
  <script type='text/javascript'>
    {%- if content_for_header contains 'shopify-product-customizer' -%}
      {%- if product -%}
        {%- if product.first_available_variant -%}
          var pfProductId = {{ product.metafields.printful.is_synced | json }};
          var pfEdt = {{ shop.metafields.printful.is_edt_enabled | json }};
          var pfEdtTextColor = {{ shop.metafields.printful.edt_text_color | json }};
          var pfEdtBackgroundColor = {{ shop.metafields.printful.edt_background_color | json }};
          var pfEdtBorderColor = {{ shop.metafields.printful.edt_border_color | json }};  
          var pfEdtUseDefaultStyling = {{ shop.metafields.printful.edt_default_style | json }};
          var pfEdtTextAlignment = {{ shop.metafields.printful.edt_text_alignment | json }};
          var pfEdtFlags = {
            US: "{{ 'US.svg' | asset_url }}",
            CA: "{{ 'CA.svg' | asset_url }}",
            ES: "{{ 'ES.svg' | asset_url }}",
            LV: "{{ 'LV.svg' | asset_url }}",
            GB: "{{ 'GB.svg' | asset_url }}",
            DE: "{{ 'DE.svg' | asset_url }}",
            FR: "{{ 'FR.svg' | asset_url }}",
            AU: "{{ 'AU.svg' | asset_url }}",
            JP: "{{ 'JP.svg' | asset_url }}",
            NZ: "{{ 'NZ.svg' | asset_url }}",
            IT: "{{ 'IT.svg' | asset_url }}",
            BR: "{{ 'BR.svg' | asset_url }}",
            KR: "{{ 'KR.svg' | asset_url }}",
            NL: "{{ 'NL.svg' | asset_url }}",
            GB: "{{ 'GB.svg' | asset_url }}",
            US: "{{ 'US.svg' | asset_url }}",
          };
        {%- else -%}
          var pfEdt = 0;
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  </script>
  <!-- PF EDT END -->
</body>
</html>