<div class="db-page db-page--explore-oc">

  <section class="db-section db-section--explore-oc-the-game" id="explore-oc-the-game">
    <div class="explore-oc">
      <div class="db-container">
        <div class="db-row">
          <h1>
            <span>Afterlife</span>
            <span>in the oc</span>
          </h1>
          <div class="db-col">
            You should stare at this screen, don’t blin... don’t bl....dammit stop. Ugh, just press play.
          </div>
        </div>

        <div class="db-row"
          ref="videoContainer"
          :class="{ 'fullscreen': isVideoFullScreen === true }"
          @mouseenter="handleMouseEnter"
          @mouseleave="handleMouseLeave">
          
          <div class="video-overlay" :class="activeVideoOverlay">
            <svg xmlns="http://www.w3.org/2000/svg" width="671" height="810" viewBox="0 0 671 810" fill="none" class="db-svg">
              <path d="M0 15C0 6.71572 6.71573 0 15 0H671V810H15C6.71575 810 0 803.284 0 795V15Z" fill="url(#paint0_linear_2983_2279)"/>
              <defs>
              <linearGradient id="paint0_linear_2983_2279" x1="-4.99934e-06" y1="405" x2="671" y2="405" gradientUnits="userSpaceOnUse">
              <stop stop-color="#03010E" stop-opacity="0.6"/>
              <stop offset="1" stop-color="#03010E" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="141" height="170" viewBox="0 0 141 170" fill="none" class="db-svg">
              <path d="M0 3.14617C0 1.40877 1.40844 0.000335693 3.14583 0.000335693H140.724V169.875H3.14583C1.40843 169.875 0 168.467 0 166.729V3.14617Z" fill="url(#paint0_linear_3119_742)"/>
              <defs>
              <linearGradient id="paint0_linear_3119_742" x1="-1.04847e-06" y1="84.9378" x2="140.724" y2="84.9378" gradientUnits="userSpaceOnUse">
              <stop stop-color="#03010E" stop-opacity="0.6"/>
              <stop offset="1" stop-color="#03010E" stop-opacity="0"/>
              </linearGradient>
              </defs>
            </svg>
          </div>

          <figure id="videoContainer"
            data-fullscreen="false"
            @click="handleVideoClick">
            <video id="video"
              preload="metadata"
              ref="video"
              poster="{{ 'Explore-OC__asset-v01-2880x1620.png' | asset_url }}"
              @play="handlePlay"
              @pause="handlePause"
              @timeupdate="handleTimeUpdate" @loadedmetadata="handleLoadedMetaData">
              <source src="https://cdn.shopify.com/videos/c/o/v/302e85ce4f784063bed6bfda1c555b3b.mp4" type="video/mp4"/>
            </video>
          </figure>

          <div class="button-container"
            :class="activeButtonContainer">
            <div class="volume-container">
              <svg class="db-svg" v-if="!isMutedVideo" @click="handleVolume"
                xmlns="http://www.w3.org/2000/svg"
                width="449"
                height="352"
                viewBox="0 0 449 352"
                fill="none">
                <path id="path_01"
                  d="M418.887 44.7713C412.555 32.0308 405.364 19.7381 397.49 7.40212C395.207 3.82155 391.594 1.29494 387.448 0.377951C383.301 -0.539285 378.96 0.228537 375.38 2.51198C371.8 4.79543 369.273 8.40774 368.356 12.5542C367.439 16.7007 368.207 21.0415 370.49 24.6221C397.82 67.3921 416 109.512 416 176.012C416 185.209 415.666 193.927 415.02 202.229C410.818 254.063 394.069 290.406 370.54 327.229C368.256 330.81 367.488 335.151 368.405 339.297C369.322 343.444 371.85 347.056 375.43 349.339C379.01 351.623 383.351 352.391 387.497 351.473C391.644 350.556 395.256 348.03 397.54 344.449C405.477 332.015 412.72 319.625 419.088 306.775C419.443 306.32 419.75 305.826 420 305.302C435.141 274.101 443.598 243.192 446.663 208.155C447.575 197.959 448.05 187.221 448.05 175.839C448.05 126.839 439.649 86.9392 420.05 46.5493C419.742 45.9053 419.35 45.3076 418.887 44.7713Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_02"
                  d="M200.779 16.0208C199.952 15.9934 199.121 16.0091 198.291 16.0681C193.766 16.3904 189.427 17.9942 185.78 20.6919L185.12 21.2019L156.6 44.552C156.422 44.698 156.25 44.8513 156.085 45.0115L93.7598 96.0303H54.1382C53.8862 96.0183 53.6333 96.012 53.3799 96.012H24C17.6348 96.012 11.5303 98.5406 7.0293 103.041C3.09131 106.98 0.663086 112.146 0.117676 117.64C0.0996094 117.823 0.0834961 118.006 0.0693359 118.19C0.0512695 118.425 0.0366211 118.661 0.0258789 118.897C0.00878906 119.267 0 119.639 0 120.012V232.03C0 232.422 0.0102539 232.813 0.0292969 233.202C0.0878906 234.386 0.234375 235.557 0.463867 236.707C1.38281 241.33 3.64746 245.619 7.0293 249.001C11.5303 253.502 17.6348 256.03 24 256.03H53.3799C53.6333 256.03 53.8862 256.024 54.1382 256.012H93.7598L185.76 331.322C189.453 334.063 193.857 335.68 198.446 335.98C203.035 336.279 207.612 335.249 211.63 333.012C215.425 330.848 218.573 327.71 220.748 323.921C222.923 320.132 224.046 315.83 224 311.462V40.5818C224.033 37.3643 223.432 34.1839 222.244 31.2185C221.818 30.1565 221.322 29.1206 220.748 28.1216C218.573 24.3328 215.425 21.1939 211.63 19.0303C211.547 18.9842 211.463 18.9385 211.38 18.8933C211.288 18.844 211.196 18.7952 211.104 18.7471C210.962 18.6729 210.819 18.6001 210.676 18.5291C210.389 18.387 210.1 18.2508 209.809 18.1199C206.963 16.8362 203.895 16.124 200.779 16.0208Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_03"
                  d="M318.561 155.174C316.167 138.084 310.768 121.436 302.25 104.742C301.303 102.856 299.993 101.176 298.394 99.7984C296.795 98.4209 294.94 97.3733 292.935 96.7158C290.929 96.0586 288.813 95.8045 286.709 95.968C284.605 96.1316 282.555 96.71 280.675 97.6695C278.796 98.6292 277.125 99.951 275.758 101.559C274.392 103.167 273.356 105.03 272.713 107.04C272.069 109.049 271.83 111.167 272.007 113.269C272.186 115.372 272.778 117.419 273.75 119.292C283.34 138.072 288 156.632 288 176.012C288 178.678 287.896 181.389 287.69 184.142C287.664 184.494 287.661 184.847 287.681 185.199C286.41 201.239 281.835 216.822 273.799 232.559C272.827 234.432 272.235 236.479 272.057 238.582C271.879 240.685 272.119 242.802 272.762 244.812C273.406 246.822 274.441 248.684 275.807 250.292C277.174 251.9 278.845 253.222 280.725 254.182C282.604 255.141 284.655 255.72 286.759 255.883C288.863 256.047 290.979 255.793 292.984 255.136C294.989 254.478 296.845 253.43 298.443 252.053C300.042 250.676 301.353 248.995 302.299 247.109C314.239 223.709 320.049 200.399 320.049 175.839C320.043 168.923 319.545 162.017 318.561 155.174Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_04"
                  d="M379.81 130.088C374.367 102.593 363.872 80.0396 349.82 55.9519C347.653 52.3457 344.153 49.7383 340.078 48.6939C336.002 47.6497 331.679 48.2525 328.045 50.3718C324.411 52.4915 321.758 55.9571 320.66 60.0186C319.562 64.0799 320.108 68.4102 322.18 72.072C330.604 86.511 337.444 99.9575 342.438 114.342C342.503 114.628 342.583 114.911 342.68 115.189C345.208 122.579 347.254 130.191 348.782 138.275C350.896 149.625 352 161.97 352 176.012C352 199.842 348.71 218.892 342.63 236.662C342.466 237.136 342.348 237.622 342.276 238.114C337.301 252.271 330.535 265.543 322.229 279.779C320.158 283.441 319.611 287.772 320.709 291.833C321.807 295.894 324.46 299.36 328.094 301.48C331.729 303.599 336.052 304.202 340.127 303.158C344.202 302.113 347.702 299.506 349.869 295.899C370.97 259.73 384.05 227.02 384.05 175.839C384.05 158.869 382.576 143.892 379.81 130.088Z"
                  fill="#FFFFFF">
                </path>
              </svg>
              <svg class="db-svg" v-else @click="handleVolume"
                xmlns="http://www.w3.org/2000/svg"
                width="448"
                height="382"
                viewBox="0 0 448 382"
                fill="none">
                <path id="path_01"
                  d="M42.96 4.53973C36.9072 -1.51324 27.0928 -1.51324 21.04 4.53973C14.9868 10.593 14.9868 20.4069 21.04 26.4601L372.04 377.46C378.093 383.513 387.907 383.513 393.96 377.46C400.013 371.407 400.013 361.593 393.96 355.54L42.96 4.53973Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_02"
                  d="M211.33 34.8718C207.338 32.7182 202.815 31.7458 198.291 32.0681C193.766 32.3903 189.427 33.9941 185.78 36.6918L185.12 37.2018L156.6 60.5519C155.735 61.2597 155.027 62.1411 154.524 63.1391C154.02 64.1369 153.731 65.2294 153.675 66.3459C153.62 67.4623 153.799 68.5783 154.201 69.6213C154.603 70.6642 155.219 71.6115 156.01 72.4018L210.34 126.732C211.459 127.852 212.885 128.615 214.438 128.924C215.99 129.233 217.6 129.075 219.062 128.469C220.525 127.863 221.775 126.836 222.654 125.52C223.533 124.203 224.001 122.655 224 121.072V56.5817C224.045 52.1564 222.891 47.8012 220.66 43.9789C218.429 40.1567 215.205 37.0095 211.33 34.8718Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_03"
                  d="M219.33 271.302L64.6899 116.702C61.6909 113.701 57.6226 112.014 53.3799 112.012H24C17.6348 112.012 11.5303 114.54 7.0293 119.041C2.52881 123.542 0 129.647 0 136.012V248.012C0 254.377 2.52881 260.482 7.0293 264.982C11.5303 269.483 17.6348 272.012 24 272.012H93.7598L185.76 347.322C189.453 350.062 193.857 351.68 198.446 351.979C203.035 352.279 207.612 351.249 211.63 349.012C215.425 346.848 218.573 343.709 220.748 339.921C222.923 336.132 224.046 331.83 224 327.462V282.602C224 278.365 222.321 274.302 219.33 271.302Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_04"
                  d="M320 192.012C320 167.452 314.19 144.142 302.25 120.742C301.303 118.856 299.993 117.176 298.394 115.798C296.795 114.421 294.94 113.373 292.935 112.716C290.929 112.059 288.813 111.804 286.709 111.968C284.605 112.132 282.555 112.71 280.675 113.669C278.796 114.629 277.125 115.951 275.758 117.559C274.392 119.167 273.356 121.03 272.713 123.039C272.069 125.049 271.83 127.166 272.007 129.269C272.186 131.372 272.778 133.419 273.75 135.292C283.34 154.072 288 172.632 288 192.012C288 194.678 287.896 197.389 287.69 200.142C287.604 201.289 287.768 202.441 288.168 203.52C288.568 204.599 289.197 205.578 290.01 206.392L304.37 220.752C305.407 221.791 306.71 222.525 308.137 222.873C309.564 223.221 311.059 223.17 312.458 222.725C313.857 222.28 315.107 221.458 316.071 220.35C317.034 219.242 317.674 217.89 317.92 216.442C319.297 208.371 319.993 200.199 320 192.012Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_05"
                  d="M384 192.012C384 140.832 370.92 108.122 349.82 71.9518C347.653 68.3456 344.153 65.7382 340.078 64.6938C336.002 63.6496 331.679 64.2524 328.045 66.3718C324.411 68.4914 321.758 71.957 320.66 76.0185C319.562 80.0798 320.108 84.4101 322.18 88.072C341.07 120.452 352 147.842 352 192.012C352 215.842 348.71 234.892 342.63 252.662C342.141 254.078 342.061 255.604 342.396 257.064C342.732 258.525 343.472 259.861 344.53 260.922L357 273.412C357.943 274.356 359.106 275.049 360.386 275.428C361.665 275.807 363.018 275.861 364.323 275.583C365.628 275.306 366.843 274.707 367.857 273.841C368.871 272.974 369.652 271.867 370.13 270.622C379 247.772 384 223.272 384 192.012Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_06"
                  d="M397.49 23.402C427.81 70.902 448 117.762 448 192.012C448 241.012 439.6 280.912 420 321.302C419.446 322.461 418.62 323.47 417.594 324.243C416.567 325.016 415.369 325.53 414.102 325.742C412.834 325.954 411.535 325.857 410.312 325.46C409.09 325.063 407.981 324.378 407.08 323.462L395.16 311.542C394.008 310.384 393.238 308.9 392.953 307.291C392.669 305.682 392.884 304.025 393.57 302.542C407.57 272.282 416 238.202 416 192.012C416 125.512 397.82 83.392 370.49 40.622C368.207 37.0414 367.439 32.7006 368.356 28.5541C369.273 24.4077 371.8 20.7953 375.38 18.5119C378.96 16.2285 383.301 15.4606 387.448 16.3779C391.594 17.2949 395.207 19.8215 397.49 23.402Z"
                  fill="#FFFFFF">
                </path>
              </svg>
            </div>
            <div class="fullscreen-container">
              <svg class="db-svg" v-if="!isVideoFullScreen" @click="handleFullScreen"
                xmlns="http://www.w3.org/2000/svg"
                width="382"
                height="382"
                viewBox="0 0 382 382"
                fill="none">
                <path id="path_01"
                  d="M376.006 130.435C379.844 126.597 382 121.392 382 115.964V20C382 8.9543 373.046 0 362 0H266.036C260.608 0 255.403 2.15601 251.565 5.9939C247.728 9.83154 245.571 15.0369 245.571 20.4644C245.571 25.8918 247.728 31.0969 251.565 34.9348C255.403 38.7725 260.608 40.9285 266.036 40.9285H312.148L224.289 128.789C222.278 130.662 220.666 132.921 219.547 135.432C218.428 137.942 217.827 140.652 217.778 143.399C217.73 146.147 218.235 148.876 219.265 151.425C220.294 153.973 221.826 156.288 223.769 158.231C225.712 160.174 228.027 161.706 230.575 162.735C233.124 163.765 235.853 164.27 238.601 164.222C241.348 164.173 244.058 163.572 246.568 162.453C249.079 161.335 251.338 159.722 253.211 157.711L341.071 69.8513V115.964C341.071 121.392 343.228 126.597 347.065 130.435C350.903 134.272 356.108 136.428 361.536 136.428C366.963 136.428 372.168 134.272 376.006 130.435Z" fill="#FFFFFF">
                </path>
                <path id="path_01"
                  d="M157.711 260.033L76.6729 341.072H115.964C121.392 341.072 126.597 343.228 130.435 347.065C134.272 350.903 136.429 356.108 136.429 361.536C136.429 366.963 134.272 372.168 130.435 376.006C126.597 379.844 121.392 382 115.964 382H20C8.9543 382 0 373.046 0 362V266.036C0 260.608 2.15625 255.403 5.99365 251.565C9.83154 247.728 15.0366 245.572 20.4644 245.572C25.8916 245.572 31.0972 247.728 34.9346 251.565C38.7725 255.403 40.9287 260.608 40.9287 266.036V318.97L128.789 231.11C130.662 229.099 132.921 227.487 135.432 226.368C137.942 225.25 140.652 224.648 143.399 224.6C146.147 224.551 148.876 225.057 151.425 226.086C153.973 227.115 156.288 228.647 158.231 230.591C160.174 232.534 161.706 234.849 162.735 237.397C163.765 239.945 164.27 242.674 164.222 245.422C164.173 248.17 163.572 250.88 162.453 253.39C161.334 255.9 159.722 258.159 157.711 260.033Z" fill="#FFFFFF">
                </path>
                <path id="path_01"
                  d="M376.006 251.565C379.844 255.403 382 260.608 382 266.036V362C382 373.046 373.046 382 362 382H266.036C260.608 382 255.403 379.844 251.565 376.006C247.728 372.168 245.571 366.963 245.571 361.536C245.571 356.108 247.728 350.903 251.565 347.065C255.403 343.228 260.608 341.072 266.036 341.072H312.148L224.289 253.211C222.278 251.338 220.666 249.079 219.547 246.568C218.428 244.058 217.827 241.348 217.778 238.601C217.73 235.853 218.235 233.124 219.265 230.575C220.294 228.027 221.826 225.712 223.769 223.769C225.712 221.826 228.027 220.294 230.575 219.265C233.124 218.235 235.853 217.73 238.601 217.778C241.348 217.827 244.058 218.428 246.568 219.547C249.079 220.665 251.338 222.278 253.211 224.289L341.071 312.149V266.036C341.071 260.608 343.228 255.403 347.065 251.565C350.903 247.728 356.108 245.572 361.536 245.572C366.963 245.572 372.168 247.728 376.006 251.565Z" fill="#FFFFFF">
                </path>
                <path id="path_01"
                  d="M157.711 121.967L76.6729 40.9285H115.964C121.392 40.9285 126.597 38.7725 130.435 34.9348C134.272 31.0969 136.429 25.8918 136.429 20.4644C136.429 15.0369 134.272 9.83154 130.435 5.9939C126.597 2.15601 121.392 0 115.964 0H20C8.9543 0 0 8.95431 0 20V115.964C0 121.392 2.15625 126.597 5.99365 130.435C9.83154 134.272 15.0366 136.428 20.4644 136.428C25.8916 136.428 31.0972 134.272 34.9346 130.435C38.7725 126.597 40.9287 121.392 40.9287 115.964V63.03L128.789 150.89C130.662 152.901 132.921 154.513 135.432 155.632C137.942 156.75 140.652 157.352 143.399 157.4C146.147 157.449 148.876 156.943 151.425 155.914C153.973 154.885 156.288 153.353 158.231 151.409C160.174 149.466 161.706 147.151 162.735 144.603C163.765 142.055 164.27 139.326 164.222 136.578C164.173 133.83 163.572 131.12 162.453 128.61C161.334 126.1 159.722 123.841 157.711 121.967Z" fill="#FFFFFF">
                </path>
              </svg>
              <svg class="db-svg" v-else @click="handleFullScreen"
                xmlns="http://www.w3.org/2000/svg"
                width="382"
                height="382"
                viewBox="0 0 382 382"
                fill="none">
                <path id="path_01"
                  d="M375.784 6.21585C384.072 14.5036 384.072 27.9408 375.784 36.2286L284.679 127.333H318.333C330.054 127.333 339.556 136.835 339.556 148.556C339.556 160.276 330.054 169.778 318.333 169.778H233.444C221.724 169.778 212.222 160.276 212.222 148.556V63.6667C212.222 51.946 221.724 42.4444 233.444 42.4444C245.165 42.4444 254.667 51.946 254.667 63.6667V97.3206L345.771 6.21585C354.059 -2.07195 367.496 -2.07195 375.784 6.21585Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_02"
                  d="M42.4444 233.444C42.4444 221.724 51.946 212.222 63.6667 212.222H148.556C160.276 212.222 169.778 221.724 169.778 233.444V318.333C169.778 330.054 160.276 339.556 148.556 339.556C136.835 339.556 127.333 330.054 127.333 318.333V284.679L36.2286 375.784C27.9408 384.072 14.5036 384.072 6.21585 375.784C-2.07195 367.496 -2.07195 354.059 6.21585 345.771L97.3206 254.667H63.6667C51.946 254.667 42.4444 245.165 42.4444 233.444Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_03"
                  d="M42.4444 148.556C42.4444 160.276 51.946 169.778 63.6667 169.778H148.556C160.276 169.778 169.778 160.276 169.778 148.556V63.6667C169.778 51.946 160.276 42.4445 148.556 42.4445C136.835 42.4445 127.333 51.946 127.333 63.6667V97.3206L36.2286 6.21584C27.9408 -2.07194 14.5036 -2.07194 6.21585 6.21584C-2.07195 14.5037 -2.07195 27.9408 6.21585 36.2286L97.3206 127.333H63.6667C51.946 127.333 42.4444 136.835 42.4444 148.556Z"
                  fill="#FFFFFF">
                </path>
                <path id="path_04"
                  d="M375.784 375.784C384.072 367.496 384.072 354.059 375.784 345.771L284.679 254.667H318.333C330.054 254.667 339.556 245.165 339.556 233.444C339.556 221.724 330.054 212.222 318.333 212.222H233.444C221.724 212.222 212.222 221.724 212.222 233.444V318.333C212.222 330.054 221.724 339.556 233.444 339.556C245.165 339.556 254.667 330.054 254.667 318.333V284.679L345.771 375.784C354.059 384.072 367.496 384.072 375.784 375.784Z"
                  fill="#FFFFFF">
                </path>
              </svg>
            </div>
          </div>
          <div class="play-button" :class="activePlayButton" @click="handleVideoClick">
            <svg class="db-svg"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="45"
              viewBox="0 0 40 45"
              fill="none">
              <path id="path_01"
                d="M37.2949 20.7764L5.01457 1.77454C3.68131 0.989709 2 1.95098 2 3.49809V41.5019C2 43.049 3.68131 44.0103 5.01458 43.2255L37.2949 24.2236C38.6088 23.4501 38.6088 21.5499 37.2949 20.7764Z"
                stroke="#B1FF29"
                stroke-width="3"
                stroke-linecap="round">
              </path>
            </svg>
          </div>

          <div class="db-behind-the-scenes" :class="activeBehindTheScenes">
            <div class="behind-the-scenes">
              BEHIND THE SCENES
            </div>
            <div class="description">
              Unearth the creation of Deadbeat in this exclusive behind the scenes video peering into this exciting new world.
            </div>
          </div>

          <div class="db-duration-container">
            <div class="progress">
              <progress id="progress" value="0" min="0" ref="progress" @click="handleProgress">
                <span id="progress-bar" ref="progressBar"></span>
              </progress>
            </div>
            <div class="duration">
              <div class="current-time" ref="currentTime">0:00</div>
              <div class="total-time" ref="totalTime">10:00</div>
            </div>
          </div>

        </div>

        <div class="db-row">
          <div class="db-col">
            BEHIND THE SCENES
          </div>

          <div class="db-col">
            Unearth the creation of Deadbeat in this exclusive behind the scenes video peering into this exciting new world.
          </div>
        </div>
      </div>
    </div>

    <div class="the-game" id="the-game">
      <div class="db-container">
        <div class="db-row">
          <div class="db-col">
            <div class="db-inner-row">
              <div class="db-inner-col">
                <img class="db-svg"
                  alt=""
                  title=""
                  src="{{ 'Explore-OC__asset-v03-194x166.png' | asset_url }}"
                  width=""
                  height=""
                  loading="lazy"/>
                <img class="db-svg"
                  alt=""
                  title=""
                  src="{{ 'Explore-OC__asset-v06-90x77.png' | asset_url }}"
                  width=""
                  height=""
                  loading="lazy"/>
              </div>
              <div class="db-inner-col">
                <svg class="db-svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="332"
                  height="221"
                  viewBox="0 0 332 221"
                  fill="none">
                  <path id="path_01"
                    d="M11.0301 73.3945V12.0512H0V0H38.2437V12.0512H27.304V73.3945H11.0301Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_02"
                    d="M41.3459 73.3945V0H57.5294V29.7202H68.8308V0H85.1047V73.3945H68.8308V41.3184H57.5294V73.3945H41.3459Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_03"
                    d="M92.6405 73.3945V0H125.55V11.0545H108.824V29.2672H121.572V40.5029H108.824V62.4306H125.731V73.3945H92.6405Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_04"
                    d="M41.1171 221C32.415 221 25.5259 219.183 20.4498 215.549C15.4772 211.915 11.9031 206.828 9.72762 200.287C7.65571 193.642 6.61976 186.011 6.61976 177.394V135.033C6.61976 126.104 7.75931 118.37 10.0384 111.829C12.3175 105.288 16.2023 100.252 21.6929 96.7221C27.2871 93.0883 34.8495 91.2713 44.3803 91.2713C53.7039 91.2713 61.0074 92.8287 66.2908 95.9434C71.6777 99.0582 75.5108 103.367 77.7899 108.87C80.069 114.372 81.2085 120.809 81.2085 128.181V136.279H54.0147V126.001C54.0147 123.301 53.8075 120.809 53.3931 118.525C53.0824 116.241 52.2536 114.424 50.9069 113.074C49.6637 111.621 47.5918 110.894 44.6911 110.894C41.6868 110.894 39.5113 111.725 38.1646 113.386C36.8179 114.943 35.9373 116.916 35.5229 119.304C35.2121 121.692 35.0567 124.184 35.0567 126.779V185.181C35.0567 187.984 35.3157 190.631 35.8337 193.123C36.4553 195.511 37.4912 197.484 38.9416 199.041C40.4955 200.495 42.671 201.221 45.4681 201.221C48.3688 201.221 50.5961 200.443 52.15 198.885C53.7039 197.328 54.7917 195.303 55.4133 192.812C56.0348 190.32 56.3456 187.672 56.3456 184.869V170.074H45.0019V153.722H81.3639V219.131H63.0275L61.4736 208.697C59.8161 212.227 57.3816 215.186 54.1701 217.574C50.9586 219.858 46.6076 221 41.1171 221Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_05"
                    d="M86.4968 219.131L110.272 92.9844H141.972L165.437 219.131H139.797L135.601 192.5H117.109L112.758 219.131H86.4968ZM119.596 175.836H132.959L126.277 126.624L119.596 175.836Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_06"
                    d="M171.463 219.131L173.638 92.9844H203.474L217.304 166.336L232.222 92.9844H260.969L263.145 219.131H243.41L241.079 135.189L226.472 219.131H208.913L193.373 134.566L191.509 219.131H171.463Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_07"
                    d="M275.126 219.131V92.9844H331.689V111.984H302.941V143.287H324.852V162.599H302.941V200.287H332V219.131H275.126Z"
                    fill="#EFC5FC">
                  </path>
                </svg>
                <svg class="db-svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="153"
                  height="102"
                  viewBox="0 0 153 102"
                  fill="none">
                  <path id="path_01"
                    d="M5.14325 33.8459V5.7308H0.0878906V0.207458H17.6159V5.7308H12.602V33.8459H5.14325Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_02"
                    d="M19.0377 33.8459V0.207458H26.455V13.8289H31.6347V0.207458H39.0934V33.8459H31.6347V19.1446H26.455V33.8459H19.0377Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_03"
                    d="M42.5472 33.8459V0.207458H57.6304V5.27399H49.9645V13.6213H55.8072V18.7709H49.9645V28.8209H57.7133V33.8459H42.5472Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_04"
                    d="M18.9328 101.497C14.9445 101.497 11.787 100.664 9.4605 98.9988C7.18145 97.3333 5.54338 95.0016 4.54629 92.0037C3.59668 88.9583 3.12188 85.4608 3.12188 81.5112V62.0964C3.12188 58.0041 3.64416 54.459 4.68873 51.4611C5.7333 48.4633 7.51381 46.1554 10.0303 44.5375C12.5942 42.872 16.0603 42.0393 20.4284 42.0393C24.7017 42.0393 28.049 42.753 30.4705 44.1806C32.9395 45.6082 34.6963 47.5829 35.7408 50.105C36.7854 52.627 37.3077 55.5773 37.3077 58.9558V62.6675H24.8441V57.9565C24.8441 56.7193 24.7492 55.5773 24.5592 54.5304C24.4168 53.4835 24.0369 52.6508 23.4197 52.0322C22.8499 51.366 21.9003 51.0329 20.5709 51.0329C19.194 51.0329 18.1969 51.4135 17.5796 52.1749C16.9624 52.8887 16.5588 53.7928 16.3689 54.8873C16.2264 55.9817 16.1552 57.1238 16.1552 58.3134V85.0801C16.1552 86.3649 16.2739 87.5783 16.5113 88.7204C16.7962 89.8148 17.271 90.7189 17.9357 91.4327C18.6479 92.0989 19.645 92.432 20.927 92.432C22.2564 92.432 23.2773 92.0751 23.9895 91.3613C24.7017 90.6476 25.2002 89.7196 25.4851 88.5776C25.77 87.4356 25.9124 86.2221 25.9124 84.9373V78.1564H20.7133V70.6618H37.3789V100.64H28.9749L28.2627 95.8581C27.503 97.476 26.3872 98.8322 24.9153 99.9267C23.4434 100.974 21.4493 101.497 18.9328 101.497Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_05"
                    d="M39.7314 100.64L50.6281 42.8244H65.1571L75.9114 100.64H64.16L62.2371 88.4348H53.7618L51.7677 100.64H39.7314ZM54.9014 80.7974H61.0263L57.9638 58.242L54.9014 80.7974Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_06"
                    d="M78.6734 100.64L79.6705 42.8244H93.3448L99.6834 76.4434L106.521 42.8244H119.696L120.693 100.64H111.648L110.58 62.1678L103.885 100.64H95.8375L88.7155 61.8823L87.8608 100.64H78.6734Z"
                    fill="#EFC5FC">
                  </path>
                  <path id="path_07"
                    d="M126.185 100.64V42.8244H152.109V51.5325H138.933V65.8795H148.975V74.7303H138.933V92.0037H152.251V100.64H126.185Z"
                    fill="#EFC5FC">
                  </path>
                </svg>
                <div class="db-content">
                  <div class="db-description">
                    Do you have what it takes to become a permanent resident of the OC ?
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div class="db-col"></div> {% endcomment %}
          <div class="db-col">
            <h3>
              Ok deep breath. We can do this.
            </h3>
            <p>
              Deadbeat is one big community game of musical glory. Join a music borough (psst if you know how to spell Burrr-oh slip us a note) create your character, then you and your mates do the damn thang to dominate the OC.
            </p>
            <ul class="db-options">
              {% comment %} <div class="db-item-hover-indicator" ref="indicator"></div> {% endcomment %}

              <li class="db-items" ref="compete">
                <div class="db-wrap">
                  <div class="db-option">
                    COMPETE
                  </div>
                  <div class="db-description">
                    Compete to put your borough on top.
                  </div>
                </div>
              </li>

              <li class="db-items" ref="characterCreation">
                <div class="db-wrap">
                  <div class="db-option">
                    CHARACTER CREATION
                  </div>
                  <div class="db-description">
                    Create and tell  your character’s story.
                  </div>
                </div>
              </li>

              <li class="db-items" ref="breakthrough">
                <div class="db-wrap">
                  <div class="db-option">
                    BREAKTHROUGH
                  </div>
                  <div class="db-description">
                    Discover and break new artists.
                  </div>
                </div>
              </li>

              <li class="db-items" ref="community">
                <div class="db-wrap">
                  <div class="db-option">
                    COMMUNITY
                  </div>
                  <div class="db-description">
                    Connect with bigger artists and fellow deadbeats.
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="after-life">
      <div class="db-hero-inn-img">
        <img src="{{ 'Explore-OC__asset-v30-574x958.png' | asset_url }}" alt="">
      </div>

      <div class="db-container">
        <div class="db-row">
          <div class="db-col">
            THE AFTER, AFTER LIFE 
          </div>

          <div class="db-col">
            But wait, that’s not all! For a limited time only get a full story world and all the insanity that rolls with a bunch of hooligans in the world of the undead in 2069.
          </div>
        </div>
      </div>
    </div>

    <div class="roadmap">

      <div class="roadmap-bg-video-container">
        <video class="db-bg-video --mb-view"
          src="https://cdn.shopify.com/videos/c/o/v/1c279c7d77d2420a8d2a0bdc8e73805e.mp4"
          allow="autoplay"
          preload="auto"
          control="false"
          autoplay="true"
          volume="0"
          playsinline=""
          muted=""
          loop="">
        </video>
      </div>

      <div class="db-container">
        
        <div class="db-row">
          <div class="db-col">
            IT’S A ROAD. MAP.
          </div>

          <div class="db-col">
            Yep, that’s it, there’s where it all goes down. This is
            the world we’re building together with you.
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--after-life">
    <div class="db-bg-container">
      <video class="db-bg-video --ds-view"
        src="https://cdn.shopify.com/videos/c/o/v/a4bd2205bb494a4c9b6f872b8e54ff2e.mp4"
        allow="autoplay"
        preload="auto"
        control="false"
        autoplay="true"
        volume="0"
        playsinline=""
        muted=""
        loop="">
      </video>
      <video class="db-bg-video --mb-view"
        src="https://cdn.shopify.com/videos/c/o/v/6027948197134c898b46526ada523a06.mp4"
        allow="autoplay"
        preload="auto"
        control="false"
        autoplay="true"
        volume="0"
        playsinline=""
        muted=""
        loop="">
      </video>
    </div>
    <div class="db-container">
      <h2>
        THE AFTER, AFTER LIFE
      </h2>
      <p>
        But wait, that’s not all! Immerse yourself in a full story world and all the insanity that rolls with a bunch of undead hooligans in the year 2069.
      </p>
    </div>
  </section>

  <section class="db-section db-section--road-map">
    <div class="db-bg-container">
      <video class="db-bg-video --ds-view"
        src="https://cdn.shopify.com/videos/c/o/v/77af5f37ef2a4afd9104d2a6f08e811c.mp4"
        allow="autoplay"
        preload="auto"
        control="false"
        autoplay="true"
        volume="0"
        playsinline=""
        muted=""
        loop="">
      </video>
      <video class="db-bg-video --mb-view"
        src="https://cdn.shopify.com/videos/c/o/v/1c279c7d77d2420a8d2a0bdc8e73805e.mp4"
        allow="autoplay"
        preload="auto"
        control="false"
        autoplay="true"
        volume="0"
        playsinline=""
        muted=""
        loop="">
      </video>
    </div>
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h2>
            IT’S A ROAD. MAP.
          </h2>
          <p>
            Yep, that’s it, there’s where it all goes down. This is the world we’re building together with you.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--explore-oc-coming-soon-2">
    <div class="db-container">
      <div class="db-row">
        <a class="db-image-container" href="https://cd929fm.com">
          <img src="{{ 'Explore-OC__asset-v17-1894x1200.png' | asset_url }}" alt="">
        </a>
        <a class="radio-link"
          title="Radio Link"
          href="https://cd929fm.com">
          CD 92.9 FM
        </a>
        <br/>
        <span>
          A Really Real Radio Station
        </span>
        <p>
          No, really. We're making a radio station with our friends at CD 92.9 FM. A direct line from the undead world of 2069 into your ear-hole. Dope music, DJ’s, YOU, and sometimes our fav artists show up.
        </p>
      </div>
    </div>

  </section>

  <section class="db-section db-section--explore-oc-faction">

    <div class="db-factions-image-container" ref="factionsContainer">

      <img v-for="(faction, index) in factions" :src="faction.bg" alt="" :class="selectPosition(index)">
    </div>

    <div class="db-container">

      <div class="db-row">
        <div class="db-col">
          <h3>
            <span>
              COMMUNITY
            </span>

            <span>
              SPONSORS
            </span>
          </h3>

          <div class="meet-the-business-of-oc">
            Meet The Businesses of the OC.
          </div>

          <div class="join-us">
            Community built and backed. Join us in Discord for world building sessions.
          </div>
        </div>
      </div>

      <div class="db-row">
        <div class="db-col">
          <div class="db-inner-row"
            ref="contentContainer">
            <div class="db-faction-content"
              v-for="(faction, index) in factions"
              :class="selectPosition(index)">

              <div class="db-inner-col"
                v-text="faction.name">
              </div>

              <db class="db-inner-col"
                v-text="faction.description">
              </db>
            
              <div class="db-inner-col"
                v-text="faction.hq">
              </div>
            </div>
          </div>

          <div class="db-inner-row">
            <div class="db-inner-col">
              <svg class="svg-icon-prev db-svg" @click="onChangeSlide('prev')"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="20"
                viewBox="0 0 12 20"
                fill="none">
                <path id="path_01"
                  d="M0 10C0 10.4969 0.248704 10.9938 0.497409 11.2422L8.70466 19.441C9.45078 20.1863 10.6943 20.1863 11.4404 19.441C12.1865 18.6957 12.1865 17.4534 11.4404 16.7081L4.72539 10L11.4404 3.29193C12.1865 2.54659 12.1865 1.30435 11.4404 0.559006C10.6943 -0.186337 9.45078 -0.186337 8.70466 0.559006L0.746114 8.50932C0.248705 9.00621 0 9.50311 0 10Z"
                  fill="#CAC7D0"
                  :style="{ fillOpacity: activeButton !== 'left' ? 0.4 : ''}">
                </path>
              </svg>
              <svg class="svg-icon-next db-svg" @click="onChangeSlide('next')"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="20"
                viewBox="0 0 12 20"
                fill="none">
                <path id="path_01"
                  d="M12 10C12 10.4969 11.7513 10.9938 11.5026 11.2422L3.29534 19.441C2.54922 20.1863 1.3057 20.1863 0.559586 19.441C-0.186529 18.6957 -0.186529 17.4534 0.559586 16.7081L7.27461 10L0.559586 3.29193C-0.186529 2.54659 -0.186529 1.30435 0.559586 0.559006C1.3057 -0.186337 2.54922 -0.186337 3.29534 0.559006L11.2539 8.50932C11.7513 9.00621 12 9.50311 12 10Z"
                  fill="#CAC7D0"
                  :style="{fillOpacity: activeButton !== 'right' ? 0.4 : ''}">
                </path>
              </svg>
            </div>
          </div>
        </div>

        <div class="db-col">
          <ul class="card-list"
            ref="newSliderContainer">
            <li class="card"
              v-for="(faction, index) in factions"
              :class="factionClass(index)"
              @click="onChangeClickFactionCardSlide($event)">
              
              <div class="card-wrapper">
                <div class="faction-img-container">
                  <img class="db-img"
                    alt=""
                    title=""
                    :src="faction.image_url"/>
                </div>

                <div class="faction-svg" v-if="index === 4">
                  {% render 'faction--harold-helping-hand' %}
                </div>

                <div class="faction-svg" v-if="index === 2">
                  {% render 'faction--stab-and-grab' %}
                </div>

                <div class="faction-svg" v-if="index === 0">
                  {% render 'faction--toothy-burger' %}
                </div>

                <div class="faction-svg" v-if="index === 3">
                  {% render 'faction--sharky-swim-club' %}
                </div>

                <div class="faction-svg" v-if="index === 1">
                  {% render 'faction--wolf-and-foot' %}
                </div>

              </div>
            
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
<script>
  const DB_SF_Page_Explore_OC_Options = {
    name: 'DB SF Page Explore OC Options',
    data() {
      return {
        activeButton: 'right',
        isActiveVideo: false,
        isMutedVideo: false,
        isVideoFullScreen: false,
        isVideoHover: false,
        isHoverEnabled: false,
        factions: [
          {
            name: 'TOOTHY BURGER',
            image_url: "{{ 'Explore-OC__toothy-burger.png' | asset_url }}",
            description: 'Home of the Green Sauce.',
            hq: "Come on down to Toothy Burger! The OC's #73 rated burger joint. For a limited time only, get the bathroom key with purchase of two or more burgers.",
            bg: "{{ 'Explore-OC__asset-v08-2470x2468.png' | asset_url }}",
          },
          {
            name: 'WOLF & FOOT COFFEE',
            image_url: "{{ 'Explore-OC__wolf-and-foot.png' | asset_url }}",
            description: 'Roasted Amongst Free-range Alpacas.',
            hq: 'Step into our world of coffee. Where each bean is treated like a treasure and every sip is an exploration of taste and exclusivity.',
            bg: "{{ 'Explore-OC__asset-v11-1536x2196.png' | asset_url }}",
          },
          {
            name: "STAB 'N' GRAB",
            image_url: "{{ 'Explore-OC__stab-and-grab.png' | asset_url }}",
            description: 'Deadly Deals and More.',
            hq: "Shop dangerously with deals that are to die for-again. Stab 'N' Grab, voted the OC's quickest way out.",
            bg: "{{ 'Explore-OC__asset-v14-2494x594.png' | asset_url }}",
          },
          {
            name: "SHARKY'S SWIM CLUB",
            image_url: "{{ 'Explore-OC__sharky-swim-club.png' | asset_url }}",
            description: 'Take the Bait!',
            hq: "Dive back into the fun and fitness at Sharky's Swim Club. We're thrilled to announce our grand reopening, with better health and safety measures in place to ensure a splashing good time for all. We promise it, this time. Waivers and tasers provided at the gate.",
            bg: "{{ 'Explore-OC__asset-v12-1936x2140.png' | asset_url }}",
          },
          {
            name: "HAROLD'S HELPING HAND",
            image_url: "{{ 'Explore-OC__harold-helping-hand.png' | asset_url }}",
            description: 'Handyman / Massage Parlour.',
            hq: "Are you stressed? Tired? Overwhelmed? Married? Come on down to Harold's Helping Hand. Member of the Deadbeat 2069 BBB.",
            bg: "{{ 'Explore-OC__asset-v13-2392x1006.png' | asset_url }}",
          },
        ],
        undeadData: [
          {
            image_url: "{{ 'About-Us__asset-undead-v01-1254x1254.png' | asset_url }}"
          },
          {
            image_url: "{{ 'About-Us__asset-undead-v02-1254x1254.png' | asset_url }}"
          },
          {
            image_url: "{{ 'About-Us__asset-undead-v01-1254x1254.png' | asset_url }}"
          },
          {
            image_url: "{{ 'About-Us__asset-undead-v02-1254x1254.png' | asset_url }}"
          },
        ],
        dataSample: [
          {
            factionName: 'THE KINGS',
            description: 'Are the total opposite of their old rivals, preferring to work in guerilla tactics rather than charging right in. They make deals and play politics with the other gangs to get upper hands. They’re sneaky, crafty, and planning.',
            HQ: 'HQ: The Arena - The old football stadium and surrounding area is under the control of The Kings. It is quite possibly the most impenetrable fortress, anyone who controls this has the best staging area for both attacking and defending. The Hearts used to control the stadium area until The Kings got them with a surprise attack, taking it all in a single afternoon. Music plays from the stadium’s sound system with no breaks. This has put it on 92.9’s agenda, the desire to play their radio station through those speakers is a great one.'
          },
          {
            factionName: 'BLEEDING HEARTS',
            description: 'Some folk think the Hearts kicked this whole deadbeat thing off here. The Hearts live by a code of honor, whenever they march into battle they bring their instruments with them. They play loud, hoping to drown out any sort of communication by their enemies.Charging ahead with powerful drums and sick guitars, the Bleeding Hearts.',
            HQ: 'HQ: The Queen of Hearts - This is the headquarters of The Bleeding Hearts. It was once an underground bar, now, it’s still an underground bar just a lot more violent. Anything and everything the Hearts do is run out of this bar.'
          },
          {
            factionName: 'HONKY TONKIN’ HILLBILLY HORDE',
            description: 'The Hillbillies never really had an interest in controlling any city, blasting their music as they go muddin’ and fishin’ is more their speed. However, a radical split of members wanting to spread their control to cities have made their way into Old Columbus recently.',
            HQ: 'HQ: The Farm - On the outskirts of Old Columbus is where the Hillbilly Horde has placed their staging area. The once deserted farmhouse and barn is now thriving with activity. There are many things to take care of on The Farm, none more important than the guarding of the barn, where the gang keeps all of it’s needed supplies for the taking of Old Columbusz.'
          },
          {
            factionName: 'THE CREEPS',
            description: 'The Hillbillies never really had an interest in controlling any city, blasting their music as they go muddin’ and fishin’ is more their speed. However, a radical split of members wanting to spread their control to cities have made their way into Old Columbus recently.',
            HQ: 'HQ: The Farm - On the outskirts of Old Columbus is where the Hillbilly Horde has placed their staging area. The once deserted farmhouse and barn is now thriving with activity. There are many things to take care of on The Farm, none more important than the guarding of the barn, where the gang keeps all of it’s needed supplies for the taking of Old Columbusz.'
          },
        ],
        undeadDataSample: [
          {
            image_url: "About-Us__asset-undead-v01-1254x1254.png",
          },
          {
            image_url: "About-Us__asset-undead-v02-1254x1254.png",
          },
          {
            image_url: "About-Us__asset-undead-v01-1254x1254.png",
          },
          {
            image_url: "About-Us__asset-undead-v02-1254x1254.png",
          },
        ],
        data: {
          listOfCharacters: [
            {
              name: 'EVILIA GRIMSHAW',
              description: 'Soul-sucking’ station programmer.  Known lovingly at the station as Little Miss Evil, Evilia’s sarcasm, bottom-line attitude and biting wit often clashes with Roger’s rebellious spirit creating a constant source of comedic conflict.',
              imageDS: "{{ 'About-Us__asset-natives-v01.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v01.png' | asset_url }}",
              property: 'firstNative'
            },
            {
              name: 'CHAZ NITELY',
              description: 'Late night talk-show host whose topics often center around Apocalypse Conspiracy Theories, Alien Encounters, and Government Cover-ups. Chaz has a huge following as well as a huge ego that barely fits into the rundown studio.',
              imageDS: "{{ 'About-Us__asset-natives-v02.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v02.png' | asset_url }}",
              property: 'secondNative'
            },
            {
              name: 'HARMONY BRIGGS',
              description: 'The new-to-town station programmer. Harmony is a somewhat mysterious and enigmatic figure that’s breathed a new life into the musty radio station as well as Roger.',
              imageDS: "{{ 'About-Us__asset-natives-v03.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v03.png' | asset_url }}",
              property: 'thirdNative'
            },
            {
              name: 'EVILIA GRIMSHAW',
              description: 'Soul-sucking’ station programmer.  Known lovingly at the station as Little Miss Evil, Evilia’s sarcasm, bottom-line attitude and biting wit often clashes with Roger’s rebellious spirit creating a constant source of comedic conflict.',
              imageDS: "{{ 'About-Us__asset-natives-v01.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v01.png' | asset_url }}",
              property: 'firstNative'
            },
            {
              name: 'CHAZ NITELY',
              description: 'Late night talk-show host whose topics often center around Apocalypse Conspiracy Theories, Alien Encounters, and Government Cover-ups. Chaz has a huge following as well as a huge ego that barely fits into the rundown studio.',
              imageDS: "{{ 'About-Us__asset-natives-v02.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v02.png' | asset_url }}",
              property: 'secondNative'
            },
            {
              name: 'HARMONY BRIGGS',
              description: 'The new-to-town station programmer. Harmony is a somewhat mysterious and enigmatic figure that’s breathed a new life into the musty radio station as well as Roger.',
              imageDS: "{{ 'About-Us__asset-natives-v03.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v03.png' | asset_url }}",
              property: 'thirdNative'
            },
          ]
        },
        timeoutId:null,
        isMobile: false,
        isActiveBox: false,
      }
    },
    created() {
      this.onLoadAnimation();

      setTimeout(() => {
        const footer = document.querySelector('footer');
        footer.style.backgroundColor = '#0E0914';
      }, 3000)
    },
    mounted() {
      const explore_oc_the_game = document.querySelector('#the-game');
      // const dbItemHoverIndicator = this.$refs.indicator;

      const compete = this.$refs.compete;
      const characterCreation = this.$refs.characterCreation;
      const breakthrough = this.$refs.breakthrough;
      const community = this.$refs.community;

      console.log(explore_oc_the_game);

      const revealSection = (entries, observer) => {
        const [entry] = entries;
        console.log(entry.isIntersecting);
        if (!entry.isIntersecting) {
          return;
        } else {
          setTimeout(() => {
            compete.classList.add('active')
          }, 1000);

          setTimeout(() => {
            compete.classList.remove(['active']);
            characterCreation.classList.add('active')
          }, 2000);

          setTimeout(() => {
            characterCreation.classList.remove(['active'])
            breakthrough.classList.add('active')
          }, 3000);

          setTimeout(() => {
            breakthrough.classList.remove(['active'])
            community.classList.add('active')
          }, 4000);

          setTimeout(() => {
            community.classList.remove(['active']);
          }, 5000);

          observer.unobserve(entry.target);
        }
      }

      const explore_oc_the_game_options = {
        root: null,
        threshold: 0.70,
      }

      const explore_oc_the_game_observer = new IntersectionObserver(revealSection, explore_oc_the_game_options);

      explore_oc_the_game_observer.observe(explore_oc_the_game);
    },
    computed: {
      activeControls() {
        if (!this.isActiveBox) {
          
          return {
            'active-controls': true
          }
        }

        return {
          'nonactive-controls': true
        }
      },
      activeSvg() {
        if (!this.isActiveBox) {
          
          return {
            'active-svg': true
          }
        }

        return {
          'nonactive-svg': true
        }
      },
      activeBehindTheScenes() {
        if (this.isActiveVideo === false) {
          
          return {
            'active-bts': false
          }
        }

        return {
          'active-bts': true
        }
      },
      activePlayButton() {
        if (this.isActiveVideo === false) {
          
          return {
            'active-bts': false
          }
        }

        return {
          'active-bts': true
        }
      },
      activeButtonContainer() {
        if (this.isVideoHover === true) {
          
          return {
            'active-bts': true
          }
        }

        return {
          'active-bts': false
        }
      },
      activeVideoOverlay() {

        if (this.isActiveVideo === false) { 
          return {
            'active': true
          }
        }

        return {
          'active': false
        }
      },
    },
    methods: {
      onLoadAnimation() {
        console.log('onLoadAnimation');
        setTimeout(() => {
          document.querySelector('.db-site-loader').classList.remove('--show');
          // document.querySelector('.db-section--banner').classList.add('--animate-now');
          document.querySelector('.db-header').classList.add('--animate-now');
        }, 3000);
      },
      handleMouseEnter() {
        this.isVideoHover = true
        console.log(`Mouse Enter`);
      },
      handleMouseLeave() {
        this.isVideoHover = false
        console.log(`Mouse Leave`);
      },
      isFullScreen() {
        return !!(
          document.fullScreen || document.fullscreenElement || document.mozFullScreen || document.webkitIsFullScreen || document.msFullscreenElement
        )
      },
      handleFullScreen() {
        if (this.isFullScreen()) {
          if (document.exitFullscreen) document.exitFullscreen();
          else if (document.mozCancelFullScreen) document.mozCancelFullScreen();
          else if (document.webkitCancelFullScreen)
            document.webkitCancelFullScreen();
          else if (document.msExitFullscreen) document.msExitFullscreen();

          this.isVideoFullScreen = !this.isVideoFullScreen
        } else {
          const videoContainer = this.$refs.videoContainer;
          const video = this.$refs.video;

          if (videoContainer.requestFullscreen)
          videoContainer.requestFullscreen();
          else if (videoContainer.mozRequestFullScreen)
            videoContainer.mozRequestFullScreen();
          else if (videoContainer.webkitRequestFullScreen) {
            video.webkitRequestFullScreen();
          } else if (videoContainer.msRequestFullscreen)
            videoContainer.msRequestFullscreen();

          this.isVideoFullScreen = !this.isVideoFullScreen;
        }
      },
      formatDuration(time) {
        const leadingZeroFormatter = new Intl.NumberFormat(undefined, {
          minimumIntegerDigits: 2,
        })

        const seconds = Math.floor(time % 60);
        const minutes = Math.floor(time / 60) % 60;
        const hours = Math.floor(time / 3600);

        if (hours === 0) {
          return `${minutes}:${leadingZeroFormatter.format(seconds)}`
        } else {
          return `${hours}:${leadingZeroFormatter.format(minutes)}:${leadingZeroFormatter.format(seconds)}`;
        }
      },
      handleLoadedMetaData() {
        const progress = this.$refs.progress;
        const video = this.$refs.video;
        const totalTime = this.$refs.totalTime;

        progress.setAttribute('max', video.duration);
        totalTime.textContent = this.formatDuration(video.duration);
      },
      handleTimeUpdate() {
        const video = this.$refs.video;
        const progress = this.$refs.progress;
        const progressBar = this.$refs.progressBar;
        const currentTime = this.$refs.currentTime;

        if (!progress.getAttribute('max')) {
          progress.setAttribute('max', video.duration);
        }

        currentTime.textContent = this.formatDuration(video.currentTime);
        progress.value = video.currentTime;
        progressBar.style.width = Math.floor((video.currentTime / video.duration) * 100) + '%';
      },
      handleProgress(e) {
        const progress = this.$refs.progress;
        const video = this.$refs.video;

        const scrubTime = (e.offsetX / progress.offsetWidth) * video.duration;

        video.currentTime = scrubTime;
      },
      handleVideoClick() {
        const video = this.$refs.video;
        if (video.paused || video.ended) {
          video.play();
        } else {
          video.pause();
        }
      },
      handleVolume() {
        const video = this.$refs.video;
        video.muted = !video.muted;

        this.changeButtonState('mute');
      },
      changeButtonState(type) {
        const video = this.$refs.video;

        if (type === 'playpause') {
         if (video.paused || video.ended) {
          this.isActiveVideo = false;
         } else {
          this.isActiveVideo = true;
         }
        } else if (type === 'mute') {
          this.isMutedVideo = !this.isMutedVideo;
        }
      },
      handlePlay() {
        this.changeButtonState('playpause');
      },
      handlePause() {
        this.changeButtonState('playpause');
      },
      onChangeClickCardSlide(event) {
        const targetElement = event.target;

        const parentElement = targetElement.parentElement;

        if (parentElement.classList.contains('nonactive-box')) {
          this.onChangeUndeadCardSlide();
          return;
        }

        return;
      },
      onChangeClickCardSlideMb(event) {
        const targetElement = event.target;

        const parentElement = targetElement.parentElement;

        if (parentElement.classList.contains('nonactive-box')) {
          this.onChangeUndeadCardSlideMb();
          return;
        }

        return;
      },
      factionClass(index) {

        if (index === 0) {

         return {
          'third-faction': true,
          '--first': true
         }

        }

        if (index === 1) {

         return {
          'fifth-faction': true,
          '--second': true
         } 

        }

        if (index === 2) {

         return {
          'second-faction': true,
          '--third': true
         }

        }

        if (index === 3) {

         return {
          'fourth-faction': true,
          '--hidden': true
         }

        }

        if (index === 4) {

         return {
          'first-faction': true,
          '--hidden': true
         }
         
        }

      },
      onChangeUndeadCardSlide() {
        this.isActiveBox = !this.isActiveBox;
        const container = this.$refs.undeadSlider;
        
        const active = container.querySelector('.active-box');
        const notActive = container.querySelector('.nonactive-box');

        active.classList.remove(['active-box']);
        notActive.classList.remove(['nonactive-box']);

        active.classList.add('nonactive-box');
        notActive.classList.add('active-box');
      },
      onChangeUndeadCardSlideMb() {
        this.isActiveBox = !this.isActiveBox;
        const container = this.$refs.undeadSliderMb;
        
        const active = container.querySelector('.active-box');
        const notActive = container.querySelector('.nonactive-box');

        active.classList.remove(['active-box']);
        notActive.classList.remove(['nonactive-box']);

        active.classList.add('nonactive-box');
        notActive.classList.add('active-box');
      },
      onChangeContent(type) {
        const container = this.$refs.contentContainer;
        const active = container.querySelector('.active');
        const last = container.querySelector('.last');

        let next = active.nextElementSibling;

        if (!next) {
          next = container.firstElementChild;
        }

        if (type === 'prev') {
          active.classList.remove(['active']);
          last.classList.remove(['last']);
          
          active.classList.add('next');
          last.classList.add('active');
          next = last.previousElementSibling;

          if (!next) {
            next = container.lastElementChild
          }

          next.classList.remove(['next']);
          next.classList.add('last');
          return
        }

        active.classList.remove(['active']);
        last.classList.remove(['last']);
        next.classList.remove(['next']);

        active.classList.add('last');
        next.classList.add('active');
        last.classList.add('next');
      },
      selectPosition(index) {
        let position = {
          next: true,
          active: false,
          last: false,
				}

        if (index === 0) {
          position = {
            ...position,
            next: false,
						active: true
          }

          return position;
        }

        if (index === this.factions.length - 1) {

          position = {
            ...position,
            next: false,
						last: true
          }

          return position
        }
				
        return position;
      },
      async onChangeClickFactionCardSlide(event) {
        const sliderContainer = this.$refs.newSliderContainer;
        const targetElement = event.target;
        const parentElement = targetElement.parentElement;

        console.log(parentElement.classList.contains('--second'));
        console.log(parentElement.classList.contains('--third'));
        
        if (parentElement.classList.contains('--second') || parentElement.classList.contains('--third')) {
          let curIndex = 1;
          
          if (parentElement.classList.contains('--second')) {
              
              while(curIndex < 2) {
                
                await this.onChangeCardPosition();
                curIndex = curIndex + 1;
              }
          }

          if (parentElement.classList.contains('--third')) {
            
            while(curIndex < 3) {
                
              await this.onChangeCardPosition();
              curIndex = curIndex + 1;
            }
          }
        }
      },
      async onChangeCardPosition() {
        return new Promise((resolve, reject) => {
          this.changeBgImage('next');
          const sliderContainer = this.$refs.newSliderContainer;
          const first = sliderContainer.querySelector('.--first');
          const second = sliderContainer.querySelector('.--second');
          const third = sliderContainer.querySelector('.--third');

          let lastElementSibling = third.nextElementSibling;
          this.onChangeContent('next');
          first.classList.remove(['--first']);
          second.classList.remove(['--second']);
          third.classList.remove(['--third']);
          lastElementSibling.classList.remove(['--hidden']);
          
          first.classList.add('--dissapearFirstElement');
          second.classList.add('--first');
          third.classList.add('--second');
          lastElementSibling.classList.add('--appearLastElement');

          setTimeout(() => {
            first.classList.remove(['--dissapearFirstElement']);
            sliderContainer.appendChild(first);
            first.classList.add('--hidden');
            lastElementSibling.classList.remove(['--appearLastElement']);
            lastElementSibling.classList.add('--third');
            resolve();
          }, 700);

          // setTimeout(() => {
          //   resolve('Hello Their');
          // }, 2000)
        })
      },
      changeBgImage(type) {
        const factionsContainer = this.$refs.factionsContainer;
        const active = factionsContainer.querySelector('.active');
        const last = factionsContainer.querySelector('.last');

        let next = active.nextElementSibling;

        if (!next) {
          next = factionsContainer.firstElementChild;
        }

        if (type === 'prev') {
          active.classList.remove(['active']);
          last.classList.remove(['last']);
          
          active.classList.add('next');
          last.classList.add('active');
          next = last.previousElementSibling;

          if (!next) {
            next = factionsContainer.lastElementChild
          }

          next.classList.remove(['next']);
          next.classList.add('last');
          return
        }


        active.classList.remove(['active']);
        last.classList.remove(['last']);
        next.classList.remove(['next']);

        active.classList.add('last');
        next.classList.add('active');
        last.classList.add('next');
      },
      onChangeSlide(type) {
        const sliderContainer = this.$refs.newSliderContainer;
        const first = sliderContainer.querySelector('.--first');
        const second = sliderContainer.querySelector('.--second');
        const third = sliderContainer.querySelector('.--third');
        
        this.changeBgImage(type);

        if (type === "next") {
          // this.curIndex = this.curIndex + 1;
          this.activeButton = 'right';
          let lastElementSibling = third.nextElementSibling;

          this.onChangeContent(type);
          first.classList.remove(['--first']);
          second.classList.remove(['--second']);
          third.classList.remove(['--third']);
          lastElementSibling.classList.remove(['--hidden']);
          
          first.classList.add('--dissapearFirstElement');
          second.classList.add('--first');
          third.classList.add('--second');
          lastElementSibling.classList.add('--appearLastElement');

          setTimeout(() => {
            first.classList.remove(['--dissapearFirstElement']);
            sliderContainer.appendChild(first);
            first.classList.add('--hidden');
            lastElementSibling.classList.remove(['--appearLastElement']);
            lastElementSibling.classList.add('--third');
          }, 700);

          return;

        } else if (type === 'prev') {
          // this.curIndex = this.curIndex - 1;
          this.activeButton = 'left';
          let lastElement = sliderContainer.lastElementChild;
          console.log(lastElement)
          this.onChangeContent(type);
          first.classList.remove(['--first']);
          second.classList.remove(['--second']);
          third.classList.remove(['--third']);
          lastElement.classList.remove(['--hidden']);


          third.classList.add('--dissapearLastElement');
          first.classList.add('--second');
          second.classList.add('--third');
          lastElement.classList.add('--appearFirstElement')

          
          setTimeout(() => {
            lastElement.classList.remove(['--appearFirstElement']);
            sliderContainer.prepend(lastElement);
            lastElement.classList.add('--first');

            third.classList.remove(['--dissapearLastElement']);
            third.classList.add('--hidden');
          }, 700)
          
        }

      },
      // theGameItemHover(event) {
      //   console.log('event =', event);

      //   if (this.isHoverEnabled === true) {

      //     const dbItemHoverIndicator = document.querySelector('.db-item-hover-indicator');
      //     dbItemHoverIndicator.style.width = `${event.target.offsetWidth}px`;
      //     dbItemHoverIndicator.style.height = `${event.target.offsetHeight}px`;
      //     dbItemHoverIndicator.style.translate = `0 ${event.target.offsetTop}px`;
      //   }
      // }
    },
  }

  Vue.createApp(DB_SF_Page_Explore_OC_Options).mount('.db-page--explore-oc');
</script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>