<div class="db-page db-page--about-us">

  <section class="db-section db-section--about-us-banner">
    <div class="db-container">
      <div class="title-wrap">
        <h1>
          <span>
            HELL YEAH
          </span>
          <span>
            WE ARE
          </span>
        </h1>
        <h4>
          Welcome to the world of deadbeat, Deadbeat is a transmedia story centered around a radio station in the year 2069, where the undead rule the world.
        </h4>
      </div>
      <div class="db-row">
        <div class="db-col-spacer">
          <div class="db-col">
            <div class="db-logo-container">
              <img class="db-img"
                alt="Deadbeats Logo"
                title="Deadbeats Logo"
                src="{{ 'About-Us__asset-DB-logo.png' | asset_url }}"
                width=""
                height=""
                loading="lazy"/>
            </div>
          </div>
          <div class="db-col">
            <div class="db-banner-its-year">
              IT’S YEAR
            </div>
            <div class="db-banner-content-block">
              <div class="db-banner-2069">
                2069
              </div>
              <div class="db-banner-and">
                <span>
                  A
                </span>
                <span>
                  N
                </span>
                <span>
                  D
                </span>
              </div>
              <div class="db-banner-rock-the-world">
                Undead rock the world
              </div>
            </div>
            <div class="db-banner-featured">
              <div class="db-banner-featured-item">
                <div class="featured-item-content">
                  <div class="featured-item-title">
                    MARKETPLACE
                  </div>
                  <div class="featured-item-description">
                    Lorem ipsum dolor sit amet consec
                  </div>
                </div>
                <div class="featured-item-image">
                  <img class="db-img"
                    alt=""
                    title=""
                    src="{{ 'About-Us__asset-featured-ds-v02.png' | asset_url }}"
                    width=""
                    height=""
                    loading="lazy"/>
                  <img class="db-img"
                    alt=""
                    title=""
                    src="{{ 'About-Us__asset-featured-mb-v02.png' | asset_url }}"
                    width=""
                    height=""
                    loading="lazy"/>
                </div>
              </div>
              <div class="db-banner-featured-item">
                <div class="featured-item-content">
                  <div class="featured-item-title">
                    NFT COLLECTIONS
                  </div>
                  <div class="featured-item-description">
                    Lorem ipsum dolor sit amet consec
                  </div>
                </div>
                <div class="featured-item-image">
                  <img class="db-img"
                    alt=""
                    title=""
                    src="{{ 'About-Us__asset-featured-ds-v02.png' | asset_url }}"
                    width=""
                    height=""
                    loading="lazy"/>
                  <img class="db-img"
                    alt=""
                    title=""
                    src="{{ 'About-Us__asset-featured-mb-v02.png' | asset_url }}"
                    width=""
                    height=""
                    loading="lazy"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--about-us-after-life">
    <div class="db-background-overlay"></div>
    <div class="db-container">  
      <div class="title-wrap">
        <h2>
          THE AFTER, AFTER LIFE
        </h2>
      </div>
      <div class="db-row">
        <div class="db-col">
          <div class="db-inner-row">
            Welcome to BEAT 96.9, a once great independent radio station, struggling to stay alive in the world of the undead. This new animated show follows the lives of the station’s re-animated crew as they manage their post-apocalyptic lives. 
          </div>
          <div class="db-inner-row">
            Welcome to BEAT 96.9, a once great independent radio station, struggling to stay alive in the world of the undead. This new animated show follows the lives of the station’s re-animated crew as they manage their post-apocalyptic lives. The show’s setting will allow for a broad array of colorful characters, transient guests, and somewhat live performances from the new world’s up-and-coming bands trying to bring their music and careers to life.
          </div>
          <div class="db-inner-row">
            Welcome to BEAT 96.9, a once great independent radio station, struggling to stay alive in the world of the undead. This new animated show follows the lives of the station’s re-animated crew as they manage their post-apocalyptic lives. 
          </div>
        </div>
        <div class="db-col"
          v-if="!isMobile">
          <div class="db-the-natives-title">
            <h3>
              <span>
                THE STORY:
              </span>
              <span>
                THE NATIVES
              </span>
            </h3>
            <h3>
              Main Characters
            </h3>
          </div>
          <div class="wrapper" ref="wrapper" @mouseenter="clearCurTimeout">
            <ul class="carousel" ref="carousel" @scroll="onInfiniteScroll" v-if="data.listOfCharacters.length === 0 ? false : true">
              <li class="native-card" :class="nativeProperty(character.property)" v-for="character in data.listOfCharacters">
                <div class="card-wrapper">
                  <div class="db-natives-image-container">
                   <div class="db-natives-image">
                    <img class="db-img"
                      alt=""
                      title=""
                      :src="character.imageDS"
                      width=""
                      height=""
                      draggable="true"
                      @dragstart="onPreventDrag($event)"
                      loading="lazy"/>
                  </div>
                  </div>
                  <div class="db-natives-profile">
                    <div class="db-native-name"
                      v-text="character.name">
                    </div>
                    <div class="db-native-description"
                      v-text="character.description">
                    </div>
                  </div>
                </div>
              </li>
              {% comment %}
                <li class="native-card firstNative">
                  <div class="card-wrapper">
                    <div class="db-natives-image-container">
                    <div class="db-natives-image">
                      <img src="{{ 'About-Us__asset-natives-v01.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                      <img src="{{ 'About-Us__asset-mb-natives-v02.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                    </div>
                    </div>
                    <div class="db-natives-profile">
                      <div class="db-native-name" >
                        EVILIA GRIMSHAW     
                      </div>
                      <div class="db-native-description">
                        Soul-sucking’ station programmer.  Known lovingly at the station as Little Miss Evil, Evilia’s sarcasm, bottom-line attitude and biting wit often clashes with Roger’s rebellious spirit creating a constant source of comedic conflict.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="native-card secondNative">
                  <div class="card-wrapper">
                    <div class="db-natives-image-container">
                    <div class="db-natives-image">
                      <img src="{{ 'About-Us__asset-natives-v02.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                      <img src="{{ 'About-Us__asset-mb-natives-v02.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                    </div>
                    </div>
                    <div class="db-natives-profile">
                      <div class="db-native-name">
                        CHAZ NITELY
                      </div>
                      <div class="db-native-description">
                        Late night talk-show host whose topics often center around Apocalypse Conspiracy Theories, Alien Encounters, and Government Cover-ups. Chaz has a huge following as well as a huge ego that barely fits into the rundown studio.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="native-card thirdNative">
                  <div class="card-wrapper">
                    <div class="db-natives-image-container">
                      <div class="db-natives-image">
                        <img src="{{ 'About-Us__asset-natives-v03.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                        <img src="{{ 'About-Us__asset-mb-natives-v03.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                      </div>
                    </div>
                    <div class="db-natives-profile">
                      <div class="db-native-name">
                        HARMONY BRIGGS
                      </div>
                      <div class="db-native-description">
                        The new-to-town station programmer. Harmony is a somewhat mysterious and enigmatic figure that’s breathed a new life into the musty radio station as well as Roger.
                      </div>
                    </div>
                  </div>
                </li>
              {% endcomment %}
            </ul>
            <div class="no-character-found"
              v-else>
              No Character Found Yet.
            </div>
          </div>
          <div class="db-buttons-slider" v-if="appearButton">
            <div class="buttons" ref="buttons">
              <svg class="svg-icon-prev db-svg"
                id="left"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="21"
                viewBox="0 0 12 21"
                fill="none"
                @click="onChangeSlider('left')" >
                <path id="path_01"
                  d="M0 10.9646C0 11.4615 0.248704 11.9584 0.497409 12.2068L8.70466 20.4056C9.45078 21.1509 10.6943 21.1509 11.4404 20.4056C12.1865 19.6603 12.1865 18.418 11.4404 17.6727L4.72539 10.9646L11.4404 4.25653C12.1865 3.51118 12.1865 2.26895 11.4404 1.52361C10.6943 0.778263 9.45078 0.778263 8.70466 1.52361L0.746114 9.47392C0.248705 9.97081 0 10.4677 0 10.9646Z"
                  fill="#CAC7D0"
                  :style="{fillOpacity: inActiveButton !== 'left' ? 0.4 : ''}">
                </path>
              </svg>
              <svg class="svg-icon-next db-svg"
                id="right"
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="21"
                viewBox="0 0 12 21"
                fill="none"
                @click="onChangeSlider('right')">
                <path id="path_01"
                  d="M12 10.9646C12 11.4615 11.7513 11.9584 11.5026 12.2068L3.29534 20.4056C2.54922 21.1509 1.3057 21.1509 0.559586 20.4056C-0.186529 19.6603 -0.186529 18.418 0.559586 17.6727L7.27461 10.9646L0.559586 4.25653C-0.186529 3.51118 -0.186529 2.26895 0.559586 1.52361C1.3057 0.778263 2.54922 0.778263 3.29534 1.52361L11.2539 9.47392C11.7513 9.97081 12 10.4677 12 10.9646Z" 
                  fill="#CAC7D0"
                  :style="{fillOpacity: inActiveButton !== 'right' ? 0.4 : ''}">
                </path>
              </svg>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>

  
  <section class="db-section db-section--about-us-mb-slider"
    v-if="isMobile">
    <div class="db-container">
      <div class="db-row">
        <div class="db-the-natives-title">
          <h3>
            <span>
              THE STORY:
            </span>
            <span>
              THE NATIVES
            </span>
          </h3>
          <h3>
            Main Characters
          </h3>
        </div>
        <div class="slider">
          <ul class="slider-container" ref="sliderContainer">
            <li class="slide" v-for="(list, index) in loopCharacterList()" :class="selectActive(index)">
              <div class="native-card"
                :class="nativeProperty(character.property)"
                v-for="character in list">
                <div class="card-wrapper">
                  <div class="db-natives-image-container">
                    <div class="db-natives-image">
                      <img class="db-img"
                        alt=""
                        title=""
                        :src="character.imageMB"
                        width=""
                        height=""
                        draggable="true"
                        @dragstart="onPreventDrag($event)"
                        loading="lazy"/>
                    </div>
                  </div>
                  <div class="db-natives-profile">
                    <div class="db-native-name"
                      v-text="character.name">
                    </div>
                    <div class="db-native-description"
                      v-text="character.description">
                    </div>
                  </div>
                </div>
              </div>
              {% comment %}
                <div class="native-card secondNative">
                  <div class="card-wrapper">
                    <div class="db-natives-image-container">
                      <div class="db-natives-image">
                        <img src="{{ 'About-Us__asset-mb-natives-v02.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                      </div>
                    </div>
                    <div class="db-natives-profile">
                      <div class="db-native-name">
                        CHAZ NITELY
                      </div>
                      <div class="db-native-description">
                        Late night talk-show host whose topics often center around Apocalypse Conspiracy Theories, Alien Encounters, and Government Cover-ups. Chaz has a huge following as well as a huge ego that barely fits into the rundown studio.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="native-card thirdNative">
                  <div class="card-wrapper">
                    <div class="db-natives-image-container">
                      <div class="db-natives-image">
                        <img src="{{ 'About-Us__asset-mb-natives-v03.png' | asset_url }}" alt="" draggable="true" @dragstart="onPreventDrag($event)">
                      </div>
                    </div>
                    <div class="db-natives-profile">
                      <div class="db-native-name">
                        HARMONY BRIGGS
                      </div>
                      <div class="db-native-description">
                        The new-to-town station programmer. Harmony is a somewhat mysterious and enigmatic figure that’s breathed a new life into the musty radio station as well as Roger.
                      </div>
                    </div>
                  </div> 
                </div>
              {% endcomment %}
            </li>
          </ul>
        </div>
        <div class="db-buttons-slider" v-if="data.listOfCharacters.length === 3 ? false : true">
          <div class="buttons" ref="buttons">
            <svg class="svg-icon-prev db-svg"
              id="left"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="21"
              viewBox="0 0 12 21"
              fill="none"
              @click="onChangeMbSlider('left')" >
              <path id="path_01"
                d="M0 10.9646C0 11.4615 0.248704 11.9584 0.497409 12.2068L8.70466 20.4056C9.45078 21.1509 10.6943 21.1509 11.4404 20.4056C12.1865 19.6603 12.1865 18.418 11.4404 17.6727L4.72539 10.9646L11.4404 4.25653C12.1865 3.51118 12.1865 2.26895 11.4404 1.52361C10.6943 0.778263 9.45078 0.778263 8.70466 1.52361L0.746114 9.47392C0.248705 9.97081 0 10.4677 0 10.9646Z"
                fill="#CAC7D0" 
                :style="{fillOpacity: inActiveButton !== 'left' ? 0.4 : ''}">
              </path>
            </svg>
            <svg class="svg-icon-next db-svg"
              id="right"
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="21"
              viewBox="0 0 12 21"
              fill="none"
              @click="onChangeMbSlider('right')">
              <path id="path_01"
                d="M12 10.9646C12 11.4615 11.7513 11.9584 11.5026 12.2068L3.29534 20.4056C2.54922 21.1509 1.3057 21.1509 0.559586 20.4056C-0.186529 19.6603 -0.186529 18.418 0.559586 17.6727L7.27461 10.9646L0.559586 4.25653C-0.186529 3.51118 -0.186529 2.26895 0.559586 1.52361C1.3057 0.778263 2.54922 0.778263 3.29534 1.52361L11.2539 9.47392C11.7513 9.97081 12 10.4677 12 10.9646Z" 
                fill="#CAC7D0"
                :style="{fillOpacity: inActiveButton !== 'right' ? 0.4 : ''}">
              </path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--spacer"></section>
  <section class="db-section db-section--about-us-resurrection">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <div class="title-wrap">
            Your entry point to the Deadbeat World
          </div>
          <div class="db-cards-image-container">
            <div class="db-cards-image">
              <img class="db-img"
                alt=""
                title=""
                src="{{ 'About_Us_asset-resurrection-v01.png' | asset_url }}"
                width=""
                height=""
                loading="lazy"/>
            </div>
            <div class="db-cards-image">
              <img class="db-img"
                alt=""
                title=""
                src="{{ 'About_Us_asset-resurrection-v02.png' | asset_url }}"
                width=""
                height=""
                loading="lazy"/>
            </div>
          </div>
        </div>
        <div class="db-col">
          <h3>
            RESURRECTION ANTHEMS
          </h3>
          <div class="db-resurrection-description">
            Each NFT consists of individual, layered music stems that combine into a single, cohesive beat
          </div>
          <div class="db-resurrection-content-block">
            <p>
              Resurrection Anthems are the initial Deadbeat collection drop. Each NFT consists of individual, layered music stems that combine into a single, cohesive beat.
            </p>
            <p>
              Individual stems are swappable between owned NFTs, allowing the holder to mix their ideal Anthems. Once satisfied with the mix, the Anthem can be Soulbound to enter the mint experience for customizable Undead characters.
            </p>
            <p>
              Anthems are sellable or tradable until Soulbound. Collection is deflationary.
            </p>
          </div>
          <div class="db-resurrection-cta">
            <button class="db-btn">
              BUY NOW
            </button>
            <a href="">
              <span>
                VIEW COLLECTIONS
              </span>
              <svg class="db-svg"
                xmlns="http://www.w3.org/2000/svg"
                width="160"
                height="2"
                viewBox="0 0 160 2"
                fill="none">
                <path id="path_01"
                  d="M1 1H159.5"
                  stroke="white"
                  stroke-linecap="round">
                </path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--about-us-elevate">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h4>
            The Company
          </h4>
          <h3>
            ELEVATE PICTURES
          </h3>
        </div>
        <div class="db-col">
          <div class="db-image-container">
            <img class="db-img"
              alt=""
              title=""
              src="{{ 'About-Us__asset-elevate-v01.png' | asset_url }}"
              width=""
              height=""
              loading="lazy"/>
          </div>
          <div class="db-elevate-description">
            <p>
              Elevate is a transmedia entertainment company chasing simple ideas that can change the world.
              <br />
              <br />
              It means we understand and build ideas that scale across platforms and over time. It means we’re experts in business judo, flipping problems into promise.
            </p>
          </div>
          <div class="db-elevate-connect-with-us">
            <div class="connect-with-us">
              Explore the world of Deadbeat! Connect with us.
            </div>
            <div class="db-elevate-website">
              <span>
                WEBSITE
              </span>
              <a href="https://www.elevatepictures.com/">
                https://www.elevatepictures.com/
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="db-section db-section--about-us-subscribe">
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <img class="db-img"
            alt=""
            title=""
            src="{{ 'About-Us__asset-subscribe-v01.png' | asset_url }}"
            width=""
            height=""
            loading="lazy"/>
          <img class="db-img"
            alt=""
            title=""
            src="{{ 'About-Us__asset-mb-subscribe-v01.png' | asset_url }}"
            width=""
            height=""
            loading="lazy"/>
        </div>
        <div class="db-col">
          <h4>
            CREATE THE STORY WORLD
          </h4>
          <p>
            Get updated to our exciting promotions, limited offers, articles and resources.
          </p>
          <form class="db-form--newsletter db-form validate"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
            method="post"
            action="https://elevate-m.us21.list-manage.com/subscribe/post?u=c9161b1e17a490930cf29bfcd&amp;id=b779bd68b4&amp;f_id=00fbdce6f0"
            accept-charset="UTF-8"
            target="_blank">
            <div class="db-form-wrap">
              <div class="db-form-group">
                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_c9161b1e17a490930cf29bfcd_b779bd68b4" tabindex="-1" value="">
                </div>
              </div>
              <div class="db-form-group">
                <input class="db-form-input required email"
                  id="mce-EMAIL"
                  type="email"
                  name="EMAIL"
                  placeholder="Enter Your Email Address"
                  required=""
                  value=""
                  autocorrect="off"
                  autocapitalize="off">
                <button class="db-btn--form-subscribe db-btn"
                  id="mc-embedded-subscribe"
                  type="submit"
                  name="subscribe">
                  SUBSCRIBE
                </button>
              </div>
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display: none;"></div>
              <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>
<script>
  const activateSlider = (container, type) => {
    const active = container.querySelector('.active');
		const last = container.querySelector('.last');
    const children = [...container.children];
		let next = active.nextElementSibling;
			
		if (!next) {
			next = container.firstElementChild;
		}

		active.classList.remove(['active']);
		last.classList.remove(['last']);
		next.classList.remove(['next']);

		if (type === 'prev') {
			active.classList.add('next');
			last.classList.add('active');
			next = last.previousElementSibling;

			if (!next) {
				next = container.lastElementChild;
			}

			next.classList.remove(['next']);
			next.classList.add('last');
			return;
		}

    if (children.length === 2) {
      console.log("In");
      active.classList.add('last');
      next.classList.add('active');
      return
    }

    active.classList.add('last');
    next.classList.add('active');
    last.classList.add('next');
  }

  const DB_SF_Page_About_Us_Options = {
    name: 'DB SF Page About Us Options',
    data() {
      return {
        inActiveButton: 'right',
        data: {
          listOfCharacters: [
            {
              name: 'EVILIA GRIMSHAW',
              description: 'Soul-sucking’ station programmer.  Known lovingly at the station as Little Miss Evil, Evilia’s sarcasm, bottom-line attitude and biting wit often clashes with Roger’s rebellious spirit creating a constant source of comedic conflict.',
              imageDS: "{{ 'About-Us__asset-natives-v01.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v01.png' | asset_url }}",
              property: 'firstNative'
            },
            {
              name: 'CHAZ NITELY',
              description: 'Late night talk-show host whose topics often center around Apocalypse Conspiracy Theories, Alien Encounters, and Government Cover-ups. Chaz has a huge following as well as a huge ego that barely fits into the rundown studio.',
              imageDS: "{{ 'About-Us__asset-natives-v02.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v02.png' | asset_url }}",
              property: 'secondNative'
            },
            {
              name: 'HARMONY BRIGGS',
              description: 'The new-to-town station programmer. Harmony is a somewhat mysterious and enigmatic figure that’s breathed a new life into the musty radio station as well as Roger.',
              imageDS: "{{ 'About-Us__asset-natives-v03.png' | asset_url }}",
              imageMB: "{{ 'About-Us__asset-mb-natives-v03.png' | asset_url }}",
              property: 'thirdNative'
            },
          ]
        },
        settingSlider: {
          firstCardWidth:null,
          isDragging: false,
          isAutoPlay: true,
          startX:null,
          startScrollLeft:null,
        },
        timeoutId:null,
        isMobile: false,
        sliderX1440: false,
        sliderX1080: false,
        sliderX768: false,
        isRender: false,
        windowSize: window.innerWidth,
      }
    },
    created() {
      if (window.innerWidth <= 768) {
        this.isMobile = true
      } else {
        this.isMobile = false
      }
      this.onLoadAnimation();
    },
    updated() {
      console.log("I am in Updated")
    },
    mounted() {
      const wrapper = this.$refs.wrapper;
      
      if (window.innerWidth > 768 && this.data.listOfCharacters.length > 0) {
        this.infiniteCards();
      }

      // Window Resize
      const handleWindowResize = () => {
        
        if (window.innerWidth >= 1440 && this.data.listOfCharacters.length > 0 && !this.sliderX1440) {
          console.log(`I am in the 1440px window`);
          this.windowSize = window.innerWidth;
          this.isMobile = false;
          this.sliderX1440 = true;

          
          if (this.isRender) {
            this.$nextTick(() => {
              // This code will run after the component has re-rendered.
              this.infiniteCards();
              this.isRender = false;
            });
          } else {
            this.infiniteCards();
          }
          

        } else if (window.innerWidth >= 1080 && window.innerWidth < 1440 && this.data.listOfCharacters.length > 0 && !this.sliderX1080) {
          console.log(`I am in the 1080px window`);
          this.windowSize = window.innerWidth;
          this.isMobile = false;
          this.sliderX1080 = true;

          
          if (this.isRender) {
            this.$nextTick(() => {
              // This code will run after the component has re-rendered.
              this.infiniteCards();
              this.isRender = false;
            });
          } else {
            this.infiniteCards();
          }
          
        } else if (window.innerWidth > 768 && window.innerWidth < 1080 && this.data.listOfCharacters.length > 0 && !this.sliderX768) {
          console.log(`I am in the 768px window`);
          this.windowSize = window.innerWidth;
          this.isMobile = false;
          this.sliderX768 = true;

          
          if (this.isRender) {
            this.$nextTick(() => {
              // This code will run after the component has re-rendered.
              this.infiniteCards();
              this.isRender = false;
            });
          } else {
            this.infiniteCards();
          }
          

          //this.isMobile = false;
          //let carousel = this.$refs.carousel;
          //const carouselChildrens = [...carousel.children];
          //let cardPerView = null;

              
          //this.settingSlider.firstCardWidth = carousel.querySelector(".native-card").offsetWidth;

          //cardPerView = Math.round(carousel.offsetWidth / this.settingSlider.firstCardWidth);

          /*
          if (!this.sliderX768) {
              console.log(`I am in 768 duplicate`);
              this.sliderX768 = true;

              this.infiniteCards();
          }
          */

            //carousel.classList.add("no-transition");
            //carousel.scrollLeft = carousel.offsetWidth;
            //carousel.classList.remove("no-transition");
        }

        if (window.innerWidth <= 768) {
          console.log(`I am in the lower window`);
          this.isMobile = true;
          this.sliderX1440 = false;
          this.sliderX768 = false;
          this.sliderX1080 = false; 
          this.isRender = true;   
        }
      }
      const debounce = (func, delay) => {
        let timeoutId;
        return function (...args) {
          clearTimeout(timeoutId);

          timeoutId = setTimeout(() => {
            func.apply(this, args);
          }, delay);
        };
      }
      const debouncedResizeHandler = debounce(handleWindowResize, 100);
      window.addEventListener('resize', debouncedResizeHandler);
    },
    methods: {
      onLoadAnimation() {
        console.log('onLoadAnimation');
        setTimeout(() => {
          document.querySelector('.db-site-loader').classList.remove('--show');
          // document.querySelector('.db-section--banner').classList.add('--animate-now');
          document.querySelector('.db-header').classList.add('--animate-now');
        }, 3000);
      },
      infiniteCards() {
        const carousel = this.$refs.carousel;
        const carouselChildrens = [...carousel.children];
        let cardPerView = Math.round(carousel.offsetWidth / this.settingSlider.firstCardWidth);

        this.settingSlider.firstCardWidth = carousel.querySelector(".native-card").offsetWidth;


        carouselChildrens.slice(-cardPerView).reverse().forEach(card => {
          carousel.insertAdjacentHTML("afterbegin", card.outerHTML);
        });

        carouselChildrens.slice(0, cardPerView).forEach(card => {
          carousel.insertAdjacentHTML("beforeend", card.outerHTML);
        });
        
        
        carousel.classList.add("no-transition");
        carousel.scrollLeft = carousel.offsetWidth;
        carousel.classList.remove("no-transition");
      },
      loopCharacterList() {
        let convertMembers = [...this.data.listOfCharacters];
        let members = [];

        for (person of convertMembers) {
          let nonReactiveCopy1 = Object.assign({}, person);
          let nonReactiveCopy2 = { ...nonReactiveCopy1 };
          let nonReactiveCopy3 = JSON.parse(JSON.stringify(nonReactiveCopy2));
          members.push(nonReactiveCopy3);
        }

        let position = {
          next: true,
          active: false,
          last: false,
        }

        const result = [];
        // Loop through the original array and create inner arrays
        for (let i = 0; i < members.length; i += 3) {
          const innerArray = members.slice(i, i + 3);
          result.push(innerArray);
        }
        

        return result;
			},
      selectActive(index) {
        let slideIndex = 0;
        let position = {
          next: true,
          active: false,
          last: false,
				}

        if (index === 0) {
          position = {
            ...position,
            next: false,
						active: true
          }

          return position
        }

        if (index === this.loopCharacterList().length - 1) {

          position = {
            ...position,
            next: false,
						last: true
          }

          return position
        }
				
        return position;
      },
      nativeProperty(property) {
        if (property === 'firstNative') {
          return {
            'firstNative': true
          }
        }

        if (property === 'secondNative') {
          return {
            'secondNative': true
          }
        }

        if (property === 'thirdNative') {
          return {
            'thirdNative': true
          }
        }
      },
      onChangeSlider(arrow) {
        const carousel = this.$refs.carousel;
        if (arrow === 'right') {
          this.inActiveButton = 'right';
          // Width
          carousel.scrollLeft = carousel.scrollLeft + this.settingSlider.firstCardWidth;
        }

        if (arrow === 'left') {
          this.inActiveButton = 'left';
          // Width
          carousel.scrollLeft = carousel.scrollLeft - this.settingSlider.firstCardWidth;
        }
      },
      onChangeMbSlider(type) {
        const sliderContainer = this.$refs.sliderContainer;

        if (type === 'left') {
          this.inActiveButton = 'left';
          activateSlider(sliderContainer, 'prev');
        }

        if (type === 'right') {
          this.inActiveButton = 'right';
          activateSlider(sliderContainer, 'next');
        }
      },
      onInfiniteScroll() {
        const carousel = this.$refs.carousel;
        
        // Width
        if (carousel.scrollLeft === 0) {
          carousel.classList.add("no-transition");
          carousel.scrollLeft = carousel.scrollWidth - (2 * carousel.offsetWidth);
          carousel.classList.remove("no-transition");
          console.log(`Ending`);
        }
        else if (Math.ceil(carousel.scrollLeft) === carousel.scrollWidth - carousel.offsetWidth) {
          console.log('very ending');
          carousel.classList.add("no-transition");
          carousel.scrollLeft = carousel.offsetWidth;
          carousel.classList.remove("no-transition");
        }
        
        // Clear existing timeout & start autoplay if mouse is not hovering over carousel
      },
      clearCurTimeout() {
        clearTimeout(this.timeoutId);
      },
      autoPlay() {
        const carousel = this.$refs.carousel;
        if (window.innerWidth < 800 || !this.settingSlider.isAutoPlay) return;

        // if window is smaller than 800 or isAutoPlay is false
        // Autoplay the carousel after every 2500 ms

        this.timeoutId = setTimeout(() => carousel.scrollLeft += this.settingSlider.firstCardWidth, 2500);
      },
      onPreventDrag(event) {
        event.preventDefault();
      }
    },
    computed: {
      appearButton() {
        if (this.windowSize >= 1440 && this.data.listOfCharacters.length <= 3) {
          return false;
        } else if (this.windowSize >= 1080 && this.data.listOfCharacters.length <= 2) {
          return false;
        } else if (this.windowSize >= 768 && this.data.listOfCharacters.length === 1) {
          return false;
        } else {
          return true;
        }
      },
    }
  }

  Vue.createApp(DB_SF_Page_About_Us_Options).mount('.db-page--about-us');
</script>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);
</script>