{% comment %}
  {{ article.id }}
  {{ article.title }}
  {{ article.url }}
  {{ article.handle }}
  {{ article.image | image_url }}
  {{ article.author }}
  {{ article.tags | json }}
  {{ article.excerpt }}
  {{ article.content }}
  {{ article.excerpt_or_content }}
  {{ article.created_at }}
  {{ article.updated_at }}
  {{ article.published_at }}
  {{ article.template_suffix }}
  {{ article.metafields | json }}
{% endcomment %}

<section class="db-section db-section--static-blog-single"
  data-article-id="{{ article.id }}">
  <div class="db-container">

    {% if article.image != blank %}
      
      <img class="blog-featured-img db-img"
        alt=""
        title=""
        src="{{ article.image | image_url }}"
        width=""
        height=""
        loading="lazy"/>
    
    {% else %}

      <img class="blog-featured-img db-img"
        alt=""
        title=""
        src="https://placehold.co/1440x620"
        width=""
        height=""
        loading="lazy"/>

    {% endif %}
    
    <div class="blog-details-wrap">
      <div class="db-inner-container">

        {% if article.tags.size %}
          
          <ul class="blog-tag-list">

            {% for tag_item in article.tags %}
              
              <li class="blog-tag-item">
                {{ tag_item }}
              </li>

            {% endfor %}
            
          </ul>
          
        {% endif %}

        {% if article.title != blank %}

          <h1 class="blog-title">
            {{ article.title }}
          </h1>

        {% endif %}
        
        <div class="db-inner-row">

          {% if article.author != blank %}

            <div class="blog-author">
              {{ article.author }}
            </div>

          {% endif %}

          {% if article.published_at != blank %}

            <svg class="svg-icon-dash-line db-svg"
              width="27"
              height="1"
              viewBox="0 0 27 1"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <line id="line_01"
                x1="0.4375"
                y1="0.5"
                x2="27"
                y2="0.5"
                stroke="#FFFFFF">
              </line>
            </svg>
            <div class="blog-date-post">
              {{ article.published_at }}
            </div>

          {% endif %}
          
        </div>

        {% if article.content != blank %}

          <div class="blog-content">
            {{ article.content }}
          </div>

        {% endif %}

      </div>
    </div>
  </div>
</section>