<section class="db-section db-section--static-home-hero-banner-and-slider"
  id="{{ section.id }}">
  <div class="hero-banner">
    <div class="db-bg-wrap">
      <video class="db-bg-video"
        preload="auto"
        poster="//deadbeat2069.myshopify.com/cdn/shop/t/3/assets/Explore-OC__asset-v01-2880x1620.png?v=106467583944807947831698784227"
        control="false">
        <source type="video/mp4" src="https://cdn.shopify.com/videos/c/o/v/05be388e2c7d412aabbe98c42f698133.mp4">
      </video>
      <div class="db-bg-overlay">
        <svg class="svg-bg-overlay-01 db-svg"
          width="1900"
          height="133"
          viewBox="0 0 1900 133"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path id="path_01"
            d="M0 133L1900 133V0L0 0L0 133Z"
            fill="url(#paint0_linear_4789_376)">
          </path>
          <defs>
          <linearGradient id="paint0_linear_4789_376"
            x1="950"
            y1="-3.13298e-07"
            x2="950.001"
            y2="133"
            gradientUnits="userSpaceOnUse">
            <stop stop-color="#150E1F"/>
            <stop offset="0.64" stop-color="#03010E" stop-opacity="0.58"/>
            <stop offset="1" stop-color="#03010E" stop-opacity="0"/>
          </linearGradient>
          </defs>
        </svg>
        <svg class="svg-bg-overlay-02 db-svg"
          width="1900"
          height="133"
          viewBox="0 0 1900 133"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path id="path_01"
            d="M0 133L1900 133V0L0 0L0 133Z"
            fill="url(#paint0_linear_4787_368)">
          </path>
          <defs>
            <linearGradient id="paint0_linear_4787_368"
              x1="950.823"
              y1="133"
              x2="950.825"
              y2="-4.75873e-06"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#150E1F"/>
              <stop offset="0.64" stop-color="#03010E" stop-opacity="0.58"/>
              <stop offset="1" stop-color="#03010E" stop-opacity="0"/>
            </linearGradient>
          </defs>
        </svg>
        <svg class="svg-bg-overlay-03 db-svg"
          width="226"
          height="1040"
          viewBox="0 0 226 1040"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path id="path_01"
            d="M0 1040H226L226 2.14577e-05H0L0 1040Z"
            fill="url(#paint0_linear_4787_367)">
          </path>
          <defs>
            <linearGradient id="paint0_linear_4787_367"
              x1="-6.65017e-10"
              y1="520.824"
              x2="226"
              y2="520.83"
              gradientUnits="userSpaceOnUse">
              <stop offset="0.579704" stop-color="#150E1F"/>
              <stop offset="0.805912" stop-color="#03010E" stop-opacity="0.58"/>
              <stop offset="0.895" stop-color="#03010E" stop-opacity="0"/>
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
    <div class="db-container">
      <div class="db-row">
        <div class="db-col">
          <h1>
            Vibe into the Afterlife become a <span title="DEADBEAT">DEADBEAT</span>
          </h1>
          <p>
            In 2069 humanity has been replaced by 7 wildly fun music genre loving burroughs of the undead, competing in one big game of musical glory!
            <br />
            <br />
            But not quite... yet. Fun takes some work, dammit. So browse a bit, sign up for updates, tell a friend, tell your dog, tell the world.
            <br />
            <br />
            Get it? Got it? Goose yourself.
          </p>
        </div>
        <div class="db-col">
          <button class="db-btn--play-video"
            type="button">
            <svg class="svg-icon-circle-with-play db-svg"
              width="82"
              height="82"
              viewBox="0 0 82 82"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle id="circle_01"
                cx="41"
                cy="41"
                r="40"
                fill="url(#linear_gradient_01)"
                stroke="#B1FF29">
              </circle>
              <path id="path_01"
                d="M54.3327 41.0001C54.3335 41.3483 54.2438 41.6908 54.0723 41.9943C53.9008 42.2978 53.6533 42.552 53.3539 42.732L34.7981 54.0315C34.4853 54.2222 34.127 54.3263 33.7602 54.3331C33.3934 54.3398 33.0315 54.249 32.7118 54.07C32.3951 53.8937 32.1313 53.6367 31.9475 53.3253C31.7637 53.0139 31.6665 52.6594 31.666 52.2983V29.7019C31.6665 29.3408 31.7637 28.9863 31.9475 28.6749C32.1313 28.3635 32.3951 28.1064 32.7118 27.9302C33.0315 27.7512 33.3934 27.6603 33.7602 27.6671C34.127 27.6739 34.4853 27.778 34.7981 27.9687L53.3539 39.2681C53.6533 39.4482 53.9008 39.7023 54.0723 40.0058C54.2438 40.3093 54.3335 40.6519 54.3327 41.0001Z"
                fill="#FFFFFF">
              </path>
              <defs>
                <linearGradient id="linear_gradient_01"
                  x1="41"
                  y1="-9"
                  x2="41"
                  y2="81"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#A3E00D"/>
                  <stop offset="1" stop-color="#7DA914"/>
                </linearGradient>
              </defs>
            </svg>
            <svg class="svg-icon-circle-with-pause db-svg"
              width="82"
              height="82"
              viewBox="0 0 82 82"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <circle id="circle_01"
                cx="41"
                cy="41"
                r="40"
                fill="url(#linear_gradient_02)"
                stroke="#B1FF29">
              </circle>
              <rect id="rect_01"
                x="31.666"
                y="26.3333"
                width="6.66667"
                height="26.6667"
                rx="1"
                fill="#FFFFFF">
              </rect>
              <rect id="rect_02"
                x="43.666"
                y="26.3333"
                width="6.66667"
                height="26.6667"
                rx="1"
                fill="#FFFFFF">
              </rect>
              <defs>
                <linearGradient id="linear_gradient_02"
                  x1="41"
                  y1="-9"
                  x2="41"
                  y2="81"
                  gradientUnits="userSpaceOnUse">
                  <stop stop-color="#A3E00D"/>
                  <stop offset="1" stop-color="#7DA914"/>
                </linearGradient>
              </defs>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-slider">
    <div class="slider-main"
      data-flickity='{
        "cellAlign": "left",
        "contain": true,
        "prevNextButtons": false,
        "pageDots": false,
        "autoPlay": 3000,
        "pauseAutoPlayOnHover": false
      }'>
      <div class="slider-cell --cd-92-9-fm">
        <div class="db-container">
          <h2>
            CD 92.9 FM
          </h2>
          <h4>
            A Really Real Radio Station
          </h4>
          <a class="db-btn--learn-more"
            title="Learn More"
            href="">
            <span class="label">
              Learn More
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  const video_element = document.querySelector('#{{ section.id }} .db-bg-video');

  document.querySelector('#{{ section.id }} .hero-banner').addEventListener('click', () => {
    console.log('pauseVideo()');

    if (video_element.paused) {
      video_element.play();
      document.querySelector('#{{ section.id }}').classList.add('--is-playing');
    }
    else {
      video_element.pause();
      document.querySelector('#{{ section.id }}').classList.remove('--is-playing');
    }
  });
</script>